<section class="main-content bottom-callout no-padding shadow-off">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row learn_more">
                    <div class="col-md-12">

                        <div class="special-heading textalignright default blue_heading header_title"
                            style="padding-bottom: 0px; float: left;">
                            <h2 class="fancy default"><span>

                                    <h2>Learn More</h2>
                                    <hr>
                                </span>
                            </h2>

                            <a href="/learn/"><button type="button" class="btn btn-primary call_to_action "
                                    style="float: left;">Learn
                                    More
                                </button></a>
                        </div>
                        <div class="special-heading textalignleft default blue_heading header_title"
                            style="padding-bottom: 0px; float: right;">
                            <h2 class="fancy default"><span>

                                    <h2>Contact Us</h2>
                                    <hr>
                                </span>
                            </h2>

                            <a href="/contact/"><button type="button" class="btn btn-primary call_to_action"
                                    style="float: right;">Contact
                                    Us
                                </button></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>