        <div class="row">
            <div class="col-md-12">
                <div class="header_text_wrapper container">
                    <h2 class="leading_header_text animated fadeInUp">Contact Us</h2>
                    <h1 class="header_text animated fadeInUp">Can’t find what you are looking for?</h1>
                    <h3 class="teaser_text animated2 fadeInUp">Our dedicated team is standing by.</h3>
                    <div class="staff-attribution">SportsDapp Responds to your queries 24hours a day, 7days a week!</div>
                </div>
            </div>
        </div>
    </div>