            <footer class="content-info " role="contentinfo ">
                <div class="container ">
                    <div class="row ">

                        <section class="col-sm-3 widget nav_menu-3 widget_nav_menu ">
                            <h4>Resources
                                <hr>
                            </h4>
                            <ul id="menu-resources " class="menu ">
                                <li class="menu-xrp-overview "><a href="/learn/ ">Learn</a></li>
                                <li class="menu-how-to-buy-xrp "><a href="/insights/ ">Insight</a></li>
                                <li class="menu-insights "><a href="/media-center/ ">Media</a></li>
                            </ul>
                        </section>
                        <section class="col-sm-3 widget nav_menu-2 widget_nav_menu ">
                            <h4>About
                                <hr>
                            </h4>
                            <ul id="menu-company-footer " class="menu ">
                                <li class="menu-our-company "><a href="/roster/ ">Roster</a></li>
                                <li class="menu-careers "><a href="/company/ ">Company</a></li>
                                <li class="menu-ripplenet-committee "><a href="/join/ ">Join
                            The Team</a></li>
                                <li class="menu-sbi-ripple-asia "><a href="/advisors/ ">Advisors</a>
                                </li>

                            </ul>
                        </section>
                        <div class="col-sm-12 absolute_bottom_footer ">
                            <div class="col-sm-8 ">
                                <span>&copy; 2013 - 2019 sportsDapp, All Rights Reserved.</span>
                                <span><a href="/terms-of-use/ ">Terms</a></span>
                                <span><a href="/privacy-policy/ ">Privacy</a></span>
                                <span id="translation "></span>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="pull_right ">
                                    <li id="text-9 " class="widget widget_text ">
                                        <div class="textwidget ">
                                            <ul class="social-iconer list-inline ">
                                                <li><a class="fber " target="blank " href="https://www.facebook.com/Sportsdapp "><i class="fa fa-facebook fa-2x "></i></a></li>
                                                <li><a class="twer " target="blank " href="https://twitter.com/sportsdapp"><i class="fa fa-twitter fa-2x "></i></a></li>
                                                <li><a class="linkedin " target="blank " href="https://www.linkedin.com/sportsdapp/ "><i
                                                class="fa fa-linkedin fa-2x "></i></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>