<div class="hero-container">
    {{#each partials.elements.heroContent.heroImgUrl}}
    <div class="hero" style="background-position: center; background-image: url({{url}});"></div>
    {{/each}}
</div>