<section class="main-content no-padding shadow-off">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="blank_divider" style="height: 20px;"></div>
                <div class="blank_divider" style="height: 20px;"></div>
                <div class="blank_divider" style="height: 20px;"></div>
                <div class="special-heading textaligncenter default blue_heading header_title"
                    style="padding-bottom: 0px;">
                    <h2 class="fancy default"><span>
                            <h2>How to Join SportsDapp</h2>
                            <hr>
                        </span></h2>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12"> &nbsp;</div>
                    </div>
                    <div class="row access-lists hidden-xs hidden-sm">
                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                        <div class="col-sm-8 col-md-8 col-lg-8">
                            <div class="row header-border">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <h2 class="title"><span class="icon standard-icon"></span>Standard Access</h2>
                                    <p> Seamlessly initiate a payment to any entity on RippleNet with a standardized
                                        interface through <a href="https://ripple.com/solutions/send-payments/">xVia</a>
                                    </p>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <h2 class="title"><span class="icon full-icon"></span>Full Access</h2>
                                    <p> Process frictionless payments on RippleNet for your own institution or others
                                        through <a href="https://ripple.com/solutions/process-payments/">xCurrent</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                    </div>
                    <div class="row access-lists ">
                        <div class="col-sm-2 col-md-2 col-lg-2">&nbsp;</div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="hidden-md hidden-lg">
                                <h2 class="title"><span class="icon standard-icon"></span>Standard Access</h2>
                                <p> Seamlessly initiate a payment to any entity on RippleNet with a standardized
                                    interface through xVia</p>
                            </div>
                            <ul class="standard-list">
                                <li>Easily send payments through RippleNet with standard API connectivity</li>
                                <li>Reduce reconciliation issues by including rich payment data</li>
                                <li>Receive guaranteed transaction fees prior to sending a payment</li>
                                <li>Gain end-to-end transparency into payment status</li>
                                <li>Remove risk with real-time settlement</li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="hidden-md hidden-lg">
                                <h2 class="title"><span class="icon full-icon"></span>Full Access</h2>
                                <p> Process frictionless payments on RippleNet for your own institution or others
                                    through xCurrent</p>
                            </div>
                            <ul class="full-list">
                                <li>Contribute to a single rulebook, enabling a standardized payments network</li>
                                <li>Easily send and receive payments through RippleNet with standard API connectivity
                                </li>
                                <li>Send and receive rich information with any payment</li>
                                <li>Receive and provide guaranteed transaction fees, and provide FX liquidity for
                                    payments</li>
                                <li>Gain end-to-end transparency into the payment status</li>
                                <li>Remove risk with real-time settlement</li>
                            </ul>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">&nbsp;</div>
                    </div>
                    <div class="row access-callout">
                        <div class="col-sm-2 col-md-2 col-lg-2">&nbsp;</div>
                        <div class="col-sm-8 col-md-8 col-lg-8 callout-box">
                            <h2 class="title"><span class="digital-asset-icon"></span>Access On-demand Liquidity with
                                Digital Assets</h2>
                            <p><span class="checkmark-icon"></span> <span> <span class="callout-text">Both access
                                        levels</span> have the ability to settle transactions instantly through XRP, a
                                    digital asset, used in Ripple’s <a href="/mobile">SportsDapp Decentralised
                                        MobileAPP</a> product.
                                    Eliminate pre-funding in foreign accounts and send payments 24/7 using XRP. </span>
                            </p>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">&nbsp;</div>
                    </div>
                </div>
                <div class="blank_divider" style="height: 20px;"></div>
                <div class="blank_divider" style="height: 20px;"></div>
            </div>
        </div>
    </div>
</section>