<section class="main-content">
    <div class="card animated2 fadeInUp col-md-6">
        <img class="img-circle" src="/images/Logo.jpg" alt="logo" style="width:100%;">
        <h1>Connect with our Team</h1>
        <div style="paddinng-bottom:20px;">

            <a href="https://www.youtube.com/channel/UCY32ksPDw_t1kIkY4GdYHyA/featured"><i
                    class="fa fa-youtube-square fa-2x" style="color:#346aa9;"></i></a>
            
            <a href="https://www.youtube.com/sporstdapp"><i class="fa fa-facebook-square"
                    style="color:#346aa9;"></i></a>
            <a href="https://www.facebook.com/sporstdapp"><i class="fa fa-twitter-square"
                    style="color:#346aa9;"></i></a>
            <a href="https://www.instagram.com/sporst.dapp"><i class="fa fa-instagram" style="color:#346aa9;"></i></a>
        
        </div>
    </div>
</section>