<header class="banner navbar navbar-default navbar-fixed-top initial_header" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <div class="nav_lines">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <div class="nav_x"><img class="blue_x" src="/images/x_icon_blue.svg"></div>
                <div class="nav_x"><img class="white_x" src="/images/x_icon.svg"></div>
            </button>
            <a class="navbar-brand" href="/"><img class="logo" src="/images/Logo.jpg" style="height:80px; width:80px; border-radius:5px;"></a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul id="menu-primary-navigation" class="nav navbar-nav">
                <li class="dropdown menu-ripplenet"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#"
                        href="/">SportsDapp
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-global-payments"><a href="/smart-ticketing/">Smart Ticketing</a>
                        </li>
                        <li class="menu-on-demand-liquidity"><a href="/loyalty-and-rewards/">Loyalty
                                & Rewards</a></li>
                        <li class="menu-join-the-network"><a href="/fan-engagement/">Fan
                                Engagement</a></li>
                        <li class="menu-join-the-network"><a href="/games/">Games</a></li>
                        <li class="menu-join-the-network"><a href="/road-map/">Road Map</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown menu-use-cases"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#"
                        href="/use-cases/">Use
                        Cases <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-overview"><a href="/overview/">Overview</a></li>
                        <li class="menu-banks"><a href="/blockchain-rewards/">Blockchain
                                Rewards</a></li>
                        <li class="menu-payment-providers"><a href="/frictionless-payments/">Frictionless
                                Payment</a></li>
                        <li class="menu-digital-asset-exchanges"><a href="/interorganization-data-management/">Inter-organizational
                                Data Management</a>
                        </li>
                        <li class="menu-digital-asset-exchanges"><a href="/blockchain-and-iot/">Blockchain
                                and IOT </a>
                        </li>
                        <li class="menu-digital-asset-exchanges"><a href="/digital-id/">Digital
                                Id</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown menu-resources"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#"
                        href="/">Resources
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-insights"><a href="/learn/">Learn</a></li>
                        <li class="menu-collateral"><a href="/insights/">Insights</a></li>
                        <li class="menu-press-center"><a href="/media-center/">Media</a></li>
                    </ul>
                </li>
                <li class="dropdown menu-about"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#"
                        href="/company/">About
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="menu-our-company"><a href="/roster/">Roster</a></li>
                        <li class="menu-careers"><a href="/company/">Company</a></li>
                        <li class="menu-sbi-ripple-asia"><a href="/join-the-team/">Join
                                The Team</a></li>
                        <li class="menu-ripple-for-good"><a href="/advisors/">Advisors</a></li>
                    </ul>
                </li>
                <li class="menu-contact"><a href="/contact">Contact</a></li>
            </ul>
            <div id="searchForm">
                <div class="searchWrap">
                    <form role="search" method="get" autocomplete="off" class="search-form form-inline" action="/">
                        <label class="sr-only">Search for:</label>
                        <div class="input-group">
                            <input id="search" type="search" value="" name="s" class="search-field form-control"
                                placeholder="Search SportsDapp">
                            <span class="input-group-btn">
                                <button id="search_submit" type="submit" class="search-submit btn btn-default"><i
                                        class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</header>