<div class="row">
    {{#each partials.elements.heroContent.rowTitle}}
    <div class="col-md-12">
        <div class="blank_divider" style="height: 20px;"></div>
        <div class="blank_divider" style="height: 20px;"></div>

        <div class="special-heading textaligncenter default blue_heading header_title" style="padding-bottom: 30px;">
            <h2 class="fancy default"><span>
                    <h2>{{rowTitle}}</h2>
                    <hr>
                </span>
            </h2>
        </div>

        <div class="text_block">
            <p class="intro textaligncenter">Explanations
            </p>
        </div>
        <div class="blank_divider" style="height: 20px;"></div>
        <div class="blank_divider" style="height: 20px;"></div>

    </div>
    {{/each}}
</div>