<div class="special-heading textaligncenter default blue_heading header_title" style="padding-bottom: 30px;">
    <h2 class="fancy default"><span>
            <h2>{{Control Primary & Secondary Ticket Market}}</h2>
            <hr>
        </span>
    </h2>
</div>