<div class="special-heading textaligncenter default" style="padding-bottom: 0px;">
    <h5 class="fancy default"><span>Subsection</span></h5>
</div>
<img src="{{imgurl}}" class="cross-currency_img">
<p>
    explanations.</p>

</div>