<div class="text_block">
    <p class="intro textaligncenter">Explanations
    </p>
</div>
<div class="blank_divider" style="height: 20px;"></div>
<div class="blank_divider" style="height: 20px;"></div>