<section class="main-content bottom-callout no-padding shadow-off" style="padding-bottom: 10px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row learn_more">
                    <div class="col-md-12">

                        <div class="special-heading textaligncenter default blue_heading header_title"
                            style="padding-bottom: 0px;">
                            <h2 class="fancy default"><span>

                                    <h2>learn More</h2>
                                    <div>
                                        <a href="/whitepaper">Link to the Whitepaper</a>

                                    </div>

                                    <hr>
                                </span>
                            </h2>
                        </div>
                        <div class="textaligncenter">
                            <p class="textaligncenter">Connect With Us</p>
                            <a href="/connect"><button type="button" class="btn btn-primary call_to_action textaligncenter "
                                    >Connect With US</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>