<div class="wrap container cta_text">
    <div class="row">
        <div class="col-md-12">
            <div class="header_text_wrapper container">
                <h2 class="leading_header_text animated fadeInUp"></h2>
                <h1 class="header_text animated fadeInUp">{{hero_header}}</h1>
                <h3 class="teaser_text animated2 fadeInUp">{{hero_h3}}</h3><a
                    href="https://ripple.com/contact"><button type="button"
                        class="btn btn-primary careers_cta call_to_action animated3 fadeInUp">Contact Us</button></a>
            </div>
        </div>
    </div>
</div>