<div class="row">
    <div class="col-md-12">
        <div class="header_text_wrapper container">
            <h2 class="leading_header_text animated fadeInUp"></h2>
            <h1 class="header_text animated fadeInUp">{{hero_title}}</h1>
            <h3 class="teaser_text animated2 fadeInUp">{{hero_h3}}</h3><span class="videoButton"><a id="trigger"
                    href="#" class="btn btn btn-primary call_to_action animated3 fadeInUp" data-toggle="modal"
                    data-target="#videoModal" data-theVideo="https://www.youtube.com/watch?v=dl4OzGHNaGk"><i
                        class="fa fa-play" aria-hidden="true"></i>
                    {{videoTitle}}</a></span>
        </div>
    </div>
</div>