<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Meet The advisors- |All you need to know</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/rules-p-fA2PwTuYutw4z.js" async=""></script>
    <script type="text/javascript" id="www-widgetapi-script" src="/js/www-widgetapi.js" async=""></script>
    <script src="/js/iframe_api.js"></script>
    <script async="" id="demandbase_js_lib" src="/js/25addc82.js"></script>
    <script src="/js/quant.js" async="" type="text/javascript"></script>
    <link rel="dns-prefetch" href="https://ajax.googleapis.com/">
    <link rel="dns-prefetch" href="https://script.crazyegg.com/">
    <link rel="dns-prefetch" href="https://cdn.ripple.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/">
    <link rel="dns-prefetch" href="https://s.w.org/">
    <link rel="stylesheet" id="ripple_css-css" href="/css/main.css" type="text/css" media="all">
    <link rel="stylesheet" id="google-hind-css" href="/css/css.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="/css/font-awesome.css" type="text/css" media="all">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script>
        window.jQuery || document.write(
            '<script async="async" src="/js/jquery/jquery.min.js?1.11.1"><\/script>'
        )
    </script>
</head>

<body
    class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">

    <header class="banner navbar navbar-default navbar-fixed-top initial_header" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <div class="nav_lines">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <div class="nav_x"><img class="blue_x" src="/images/x_icon_blue.svg"></div>
                    <div class="nav_x"><img class="white_x" src="/images/x_icon.svg"></div>
                </button>
                <a class="navbar-brand" href="/"><img class="logo" src="/images/Logo.jpg"></a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul id="menu-primary-navigation" class="nav navbar-nav">
                    <li class="dropdown menu-ripplenet"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="/">SportsDapp
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-global-payments"><a href="/smart-ticketing/">Smart Ticketing</a>
                            </li>
                            <li class="menu-on-demand-liquidity"><a href="/loyalty-and-rewards/">Loyalty
                                    & Rewards</a></li>
                            <li class="menu-join-the-network"><a href="/fan-engagement/">Fan
                                    Engagement</a></li>
                            <li class="menu-join-the-network"><a href="/games/">Games</a></li>
                            <li class="menu-join-the-network"><a href="/road-map/">Road Map</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-use-cases"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="/use-cases/">Use
                            Cases <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-overview"><a href="/overview/">Overview</a></li>
                            <li class="menu-banks"><a href="/blockchain-rewards/">Blockchain
                                    Rewards</a></li>
                            <li class="menu-payment-providers"><a href="/frictionless-payments/">Frictionless
                                    Payment</a></li>
                            <li class="menu-digital-asset-exchanges"><a
                                    href="/interorganization-data-management/">Inter-organizational
                                    Data Management</a>
                            </li>
                            <li class="menu-digital-asset-exchanges"><a href="/blockchain-and-iot/">Blockchain
                                    and IOT </a>
                            </li>
                            <li class="menu-digital-asset-exchanges"><a href="/digital-id/">Digital
                                    Id</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-resources"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="/">Resources
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-insights"><a href="/learn/">Learn</a></li>
                            <li class="menu-collateral"><a href="/insights/">Insights</a></li>
                            <li class="menu-press-center"><a href="/media-center/">Media</a></li>
                        </ul>
                    </li>
                    <li class="dropdown menu-about"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#"
                            href="/company/">About
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-our-company"><a href="/roster/">Roster</a></li>
                            <li class="menu-careers"><a href="/company/">Company</a></li>
                            <li class="menu-sbi-ripple-asia"><a href="/join-the-team/">Join
                                    The Team</a></li>
                            <li class="menu-ripple-for-good"><a href="/advisors/">Advisors</a></li>
                        </ul>
                    </li>
                    <li class="menu-contact"><a href="/contact">Contact</a></li>
                </ul>
                <div id="searchForm">
                    <div class="searchWrap">
                        <form role="search" method="get" autocomplete="off" class="search-form form-inline" action="/">
                            <label class="sr-only">Search for:</label>
                            <div class="input-group">
                                <input id="search" type="search" value="" name="s" class="search-field form-control"
                                    placeholder="Search SportsDapp">
                                <span class="input-group-btn">
                                    <button id="search_submit" type="submit" class="search-submit btn btn-default"><i
                                            class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Advisors</h1>
                </div>

                <section class="main-content solutions_wrapper no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>

                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Advisors</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>

                                        <div class="text_block">
                                            <svg class="shield">
                                                <use xlink:href="/images/sprite.svg#shield" class="shield"></use>
                                            </svg>
                                            <p class="intro textaligncenter">
                                                Shield your clients from malicious third parties
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="text_block">
                                            <svg class="shield">
                                                <use xlink:href="/images/sprite.svg#shield" class="shield"></use>
                                            </svg>
                                            <p class="intro textaligncenter">
                                                Honest ticketing on a global scale
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="text_block">
                                            <svg class="shield">
                                                <use xlink:href="/images/sprite.svg#lock" class="shield"></use>
                                            </svg>

                                            <p class="intro textaligncenter">
                                                Locked and traceable on a publicly distributed ledger
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="text_block">
                                            <svg class="shield">
                                                <use xlink:href="/images/sprite.svg#tick" class="tick"></use>
                                            </svg>
                                            <p class="intro textaligncenter">
                                                Guarantee the authenticity of your ticket
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>

                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Control Primary & Secondary Ticket Market</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>


                                        <div class="text_block">

                                            <p class="intro textaligncenter">
                                                There is no way of interacting with smart tickets outside of our
                                                blockchain ecosystem. Dictate all the rules of the ticketing
                                                marketplace.<br> Event organizers get a cut of every resale of a ticket
                                                on the in-app secondary marketplace.
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="text_block">



                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Advisors</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>

                                        <div class="row impact">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <img class="why_icn img-responsive" src="/images/icn_banks_1.png">
                                                <div class="special-heading textaligncenter default">
                                                    <h5>subheading</h5>
                                                </div>
                                                <p>A paragraph of explanations</p>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <img class="why_icn img-responsive" src="/images/icn_banks_2.png">
                                                <div class="special-heading textaligncenter default">
                                                    <h5>Sub heading</h5>
                                                </div>
                                                <p>a paragraph of explanations</p>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <img class="why_icn img-responsive" src="/images/icn_banks_3.png">
                                                <div class="special-heading textaligncenter default">
                                                    <h5>Subheading</h5>
                                                </div>
                                                <p>explanations</p>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <img class="why_icn img-responsive" src="/images/icn_banks_4.png">
                                                <div class="special-heading textaligncenter default">
                                                    <h5>Another subheading</h5>
                                                </div>
                                                <p>Explanations</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="row">

                                    <div class="col-md-6">

                                        <div class="special-heading textaligncenter default"
                                            style="padding-bottom: 0px;">
                                            <h5 class="fancy default"><span>Subsection</span></h5>
                                        </div>
                                        <img src="/images/cd2x.png" class="cross-currency_img">
                                        <p>
                                            explanations.</p>



                                    </div>

                                    <div class="col-md-6">

                                        <div class="special-heading textaligncenter default"
                                            style="padding-bottom: 0px;">
                                            <h5 class="fancy default"><span>Another Subsection</span></h5>
                                        </div>
                                        <img src="/images/rr2x.png" class="cross-currency_img">
                                        <p>
                                            even explanations</p>




                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
        </div>
        </section>
      <section class="main-content bottom-callout no-padding shadow-off">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <div class="row learn_more">
                    <div class="col-md-12">

                        <div class="special-heading textalignright default blue_heading header_title"
                            style="padding-bottom: 0px; float: left;">
                            <h2 class="fancy default"><span>

                                    <h2>Learn More</h2>
                                    <hr>
                                </span>
                            </h2>

                            <a href="/learn/"><button type="button" class="btn btn-primary call_to_action "
                                    style="float: left;">Learn
                                    More
                                </button></a>
                        </div>
                        <div class="special-heading textalignleft default blue_heading header_title"
                            style="padding-bottom: 0px; float: right;">
                            <h2 class="fancy default"><span>

                                    <h2>Contact Us</h2>
                                    <hr>
                                </span>
                            </h2>

                            <a href="/contact/"><button type="button" class="btn btn-primary call_to_action"
                                    style="float: right;">Contact
                                    Us
                                </button></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        </main>
        <!-- /.main -->
    </div>
    <!-- /.content -->
    </div>
    <!-- /.wrap -->
     <footer class="content-info " role="contentinfo ">
                <div class="container ">
                    <div class="row ">

                        <section class="col-sm-3 widget nav_menu-3 widget_nav_menu ">
                            <h4>Resources
                                <hr>
                            </h4>
                            <ul id="menu-resources " class="menu ">
                                <li class="menu-xrp-overview "><a href="/learn/ ">Learn</a></li>
                                <li class="menu-how-to-buy-xrp "><a href="/insights/ ">Insight</a></li>
                                <li class="menu-insights "><a href="/media-center/ ">Media</a></li>
                            </ul>
                        </section>
                        <section class="col-sm-3 widget nav_menu-2 widget_nav_menu ">
                            <h4>About
                                <hr>
                            </h4>
                            <ul id="menu-company-footer " class="menu ">
                                <li class="menu-our-company "><a href="/roster/ ">Roster</a></li>
                                <li class="menu-careers "><a href="/company/ ">Company</a></li>
                                <li class="menu-ripplenet-committee "><a href="/join/ ">Join
                            The Team</a></li>
                                <li class="menu-sbi-ripple-asia "><a href="/advisors/ ">Advisors</a>
                                </li>

                            </ul>
                        </section>
                        <div class="col-sm-12 absolute_bottom_footer ">
                            <div class="col-sm-8 ">
                                <span>&copy; 2013 - 2019 sportsDapp, All Rights Reserved.</span>
                                <span><a href="/terms-of-use/ ">Terms</a></span>
                                <span><a href="/privacy-policy/ ">Privacy</a></span>
                                <span id="translation "></span>
                            </div>
                            <div class="col-sm-4 ">
                                <div class="pull_right ">
                                    <li id="text-9 " class="widget widget_text ">
                                        <div class="textwidget ">
                                            <ul class="social-iconer list-inline ">
                                                <li><a class="fber " target="blank " href="https://www.facebook.com/Sportsdapp "><i class="fa fa-facebook fa-2x "></i></a></li>
                                                <li><a class="twer " target="blank " href="https://twitter.com/sportsdapp"><i class="fa fa-twitter fa-2x "></i></a></li>
                                                <li><a class="linkedin " target="blank " href="https://www.linkedin.com/sportsdapp/ "><i
                                                class="fa fa-linkedin fa-2x "></i></a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        <div class='cookie-bar'>
   <p>We use cookies to understand how you use our site, to personalize content, and to improve your experience. By
      continuing to use our site, you accept our use of cookies and revised <a href="/privacy-policy/ ">Privacy
         Policy</a>.</p><span class='pull-right dismiss'>Dismiss</span>
</div>

    <!--replace with a cdn for faster page-load-->

    <script type='text/javascript' src='/js/script.min.js'></script>
    <script type='text/javascript' defer="defer " src='/js/vendor/countUp.min.js'></script>
    <script type='text/javascript' src='/js/vendor/player.js' async='async'></script>
    <script type='text/javascript'>
    </script>
    <script type='/js/scripts.js?ver=5.0.3'></script>

    <script type='text/javascript' src='/js/scripts.js'></script>
    <script type='text/javascript' defer="defer " src='/js/vendor/countUp.min.js'></script>
    <script type='text/javascript' src='/js/vendor/player.js' async='async'></script>
    <script type='text/javascript'>
    </script>
    <script type='text/javascript' src='/js/scripts.js?ver=5.0.3'></script>


</body>

</html>