<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blockchain Rewards- |The Promising Future of Blockchain</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owlcarousel/owl.theme.default.min.css">

    <link rel="dns-prefetch" href="https://ajax.googleapis.com/">
    <link rel="dns-prefetch" href="https://script.crazyegg.com/">
    <link rel="dns-prefetch" href="https://cdn.ripple.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/">
    <link rel="dns-prefetch" href="https://s.w.org/">
    <link rel="stylesheet" id="ripple_css-css" href="/css/main.css" type="text/css" media="all">
    <link rel="stylesheet" id="google-hind-css" href="/css/css.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="/css/font-awesome.css" type="text/css" media="all">

    <style>
        @media only screen and (min-width: 0px) and (max-width: 498px) {
            .contact_btn {
                float: left;
            }

            .learn_btn {
                float: left;
            }
        }

        @media only screen and (min-width: 0px) and (max-width: 698px) {
            .owl-carousel .item .textoverlay img {
                width: 100%;
                height: auto;

            }


        }

        .owl-carousel div h2,
        .owl-carousel div .textoverlay img {
            position: absolute;
            color: #fff;
            font-size: 12px;
            display: block;
        }

        .print {
            fill: #346aa9;
            height: 32px;
            width: 32px;
        }

        .pulse {
            fill: #346aa9;
            height: 32px;
            width: 32px;
        }

        .target {
            fill: #346aa9;
            height: 64px;
            width: 64px;
        }

        .cart {
            fill: #346aa9;
            height: 64px;
            width: 64px;
        }
    </style>


</head>

<body
    class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">
    {{> navbar}}
    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Blockchain Rewards </h1>
                </div>
                <section class="main-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blank_divider" style="height: 20px;"></div>
                                <div class="blank_divider" style="height: 20px;"></div>
                                <div class="special-heading textaligncenter default blue_heading header_title"
                                    style="padding-bottom: 30px;">
                                    <h2>What is Blockchain?</h2>
                                    <p>On its most basic level the blockchain is a new class of information technology
                                        that combines <em>cryptography</em> with distributed computing. It is a network
                                        of computers which collaborate towards maintaining a shared and secure database.
                                        This database consists of a string of blocks—each one a record of data that has
                                        been encrypted and given a unique identifier called a hash.<br> Nodes on the
                                        network
                                        validate transactions, add them to the block they are building, and then
                                        broadcast the completed block to other nodes so that all have a copy of the
                                        database.<br> In order to verify that the information being broadcasted is
                                        correct the blockchain relies upon a distributed consensus algorithm.<br> In
                                        order to make an entry onto the blockchain all the active computers must verify
                                        that the information is correct, therefore no one computer can make an
                                        alteration without the approval of others.<br> Once complete the block goes into
                                        the blockchain as a permanent record.</p>



                                </div>

                            </div>
                </section>
                <hr>

                <section class="main-content  no-padding shadow-on">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 style="color:#346aa9;">Blockchain Rewards</h1>


                                        <div id="owl-slider" class="owl-carousel owl-theme">

                                            <div>
                                                <div class="item">
                                                    <h2 style="margin:0 auto; display:block; padding-bottom:45px;">Establishment Of Trust
                                                        </h2>
                                                    <p style="margin:0 auto; display:block; padding-bottom:45px;">Trust is established not by centralized institutions but by
                                                        protocols, cryptography and computer code.</p>
                                                         
                                                    
                                                    <img src="/images/Benefits.jpeg" alt="mission">
                                                </div>
                                            </div>

                                            <div class="item">
                                                <h2 style="textalign:center; display:block; padding-bottom:45px;" >Decentralization of P2P Networks
                                                </h2>
                                                <p> For the first time in human history people anywhere can trust
                                                        each other and transact within large P2P networks without
                                                        centralized management. </p>
                                                <img src="/images/Rewards.jpeg" alt="Decentralization">
                                            </div>

                                            <div class="item">
                                                <h2 style="textalign:center; color:#346aa9; display:block;">Strengthening P2P Networks
                                                    </h2>
                                                    <p style="margin:0 auto; display:block; padding-bottom:45px;">This strengthens our
                                                        capacity for collaboration and cooperation between organizations
                                                        and individuals within peer networks.</p>
                                                <img src="/images/hero7.jpg" alt="teamworking">
                                            </div>
                                            


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                {{> whitepaper}}
            </main>
        </div>
        <!-- /.main -->
    </div>
    <!-- /.content -->
    </div>
    <!-- /.wrap -->
    {{> footer}}

    <!--replace with a cdn for faster page-load-->
    <script type='text/javascript' src='/js/jquery/jquery.min.js'></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script type='text/javascript' src='/js/animate.js'></script>
    <script type='text/javascript' src='/js/script.min.js'></script>
    <script type='text/javascript' defer="defer " src='/js/vendor/countUp.js'></script>
    <script type='text/javascript' src='/js/vendor/player.js' async='async'></script>
</body>

</html>