<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blockchain and IoT- |Challenges and Strengths of Blockchain IoT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.jpg">
    <link rel="stylesheet" id="ripple_css-css" href="/css/main.css" type="text/css" media="all" />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'
        type='text/css' media="all" />

</head>

<body
    class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">
    {{> navbar}}
    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Blockchain an IoT </h1>
                </div>
                <section class="main-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blank_divider" style="height: 20px;"></div>

                                <div class="special-heading textaligncenter default blue_heading header_title"
                                    style="padding-bottom: 30px;">
                                    <div class="blank_divider" style="height: 20px;"></div>
                                    <img style="border-radius:50px; height:190px; width:190px;  padding-top:50px; "
                                        src="/images/Sensors-for-IoT.jpg" alt="Decentralization" class="texaligncenter">
                                    <h2 style="color:#346aa9;">Blockchain Internet of Things (BIoT)</h2>
                                    <p>As the transition to a data driven world accelerates impelled by the pace of
                                        technological innovation in Internet enabled devices many of societal norms will
                                        be
                                        challenged.
                                    </p>
                                    <p>The increasing competition for scarce resources will drive companies to
                                        strive to find the cutting edge to maintain their lead ahead of any rival. <br>
                                        It is in
                                        this ecosystem that blockchain technology can offer IoT platforms a model for
                                        distributing trusted information in a non centralized and more secure way. There
                                        is
                                        still much research needed to be done to improve both the scalabily of
                                        blockchain
                                        solutions and the application to the developing IoT ecosystem.</p>


                                    <p>The current state of security for IoT devices varies greatly between
                                        manufacturers
                                        and is one of the main stumbling blocks preventing increased adoption of this
                                        technology.</p>


                                    <p>As more devices are connected to the Internet and considering that many IoT
                                        devices
                                        have limited power available, being run on batteries, the issue of addressing
                                        such
                                        devices on the Internet becomes a major problem. IPv6 has a 128-bit address
                                        space
                                        whereas blockchain has a 160-bit address space and can provide 4.3 billion more
                                        addresses than can IPv6 thus making blockchain a more scalable solution for
                                        IoT.</br>
                                        Many IoT devices due to power constraints and lack of computing capacity would
                                        be
                                        unable to support an IPv6 stack.</p>
                                    <p>The use of blockchain technology to administer the
                                        addressing of IoT devices eliminates the need for a central authority such as
                                        the
                                        Internet Assigned Numbers Authority to supervise and maintain this vital
                                        service.
                                        As the owner of an IoT device changes during its lifetime from the manufacturer
                                        through the supply chain to the consumer. There needs to be a system in place to
                                        manage this and other identity relationships until the device is decommissioned.
                                    </p>
                                    <p>Another challenge is the managing of the attributes that a device might have, for
                                        example, the make, serial number, location, and GPS coordinates to name a few.
                                        IoT
                                        devices will also have relationships that can be device to device, device to
                                        human
                                        or device to a service. These changes in relationships can also include such as
                                        sold
                                        by, shipped by and repaired by, all need to be recorded and updated during the
                                        life
                                        cycle of the device.</p>

                                </div>

                            </div>
                        </div>
                    </div>
                </section>
                <hr>

                <section class="main-content  no-padding shadow-on">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1 style="color:#346aa9;">Blockchain IOT challenges</h1>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div>
                                            <div class="special-heading textaligncenter default blue_heading header_title"
                                                style="padding-bottom: 30px;">
                                                <h2 class="fancy default"><span>
                                                        <h2>Blockchain IoT Challenges</h2>
                                                        <hr>
                                                    </span>
                                                </h2>
                                            </div>
                                            <div class="textaligncenter default">
                                                <i class="fa fa-bolt fa-4x" style="color:#346aa9;"
                                                    aria-hidden="true"></i>

                                            </div>
                                            <div class="text_block textaligncenter">
                                                <h3>Power constraints in
                                                    IOT devices
                                                </h3>
                                                <p class="textaligncenter;">As more devices are connected to the
                                                    Internet and considering that many IoT devices
                                                    have limited power available, being run on batteries, the issue
                                                    of addressing such
                                                    devices on the Internet becomes a major problem.<p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="text_block textaligncenter" style="padding-top:50px;">
                                        <div class="textaligncenter default">
                                            <i class="fa fa-warning fa-4x" style="color:#346aa9;"
                                                aria-hidden="true"></i>

                                        </div>

                                        <h3 class="textaligncenter">Difficulty Managing
                                            attributes<br> of IoT
                                            Devices
                                        </h3>
                                        <p class="textaligncenter;">

                                            Managing of the attributes that a device might have, for
                                            example, the make, serial number, location, and GPS coordinates
                                            to name a few.
                                            IoT
                                            devices will also have relationships that can be device to
                                            device, device to
                                            human
                                            or device to a service.
                                            These changes in relationships can also include such as
                                            sold
                                            by, shipped by and repaired by, all need to be recorded and
                                            updated during the
                                            life
                                            cycle of the device.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
        </section>

        {{> whitepaper}}
        </main>
    </div>
    <!-- /.main -->
    </div>
    <!-- /.content -->
    </div>
    <!-- /.wrap -->
    {{> footer}}

    <!--replace with a cdn for faster page-load-->
    <script type='text/javascript' src='/js/jquery/jquery.min.js' async=""></script>
    <script src="/js/venobox.min.js"></script>
    <script type='text/javascript' src='/js/scripts.min.js'></script>
    <script type='text/javascript' defer="defer " src='/js/vendor/countUp.js'></script>
</body>

</html>