<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!--lets tell google not to index this error page-->
    <meta name="robots" content="noindex">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Error {{{error.status}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.jpg">
    <link rel="stylesheet" id="ripple_css-css" href="/css/main.css" type="text/css" media="all">
    <link rel="stylesheet" id="google-hind-css" href="/css/css.css" type="text/css" media="all">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awsome/4.6.3/css/font-awsome.min.css'
        type='text/css' media="all" />

</head>

<body
    class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">
    {{> navbar}}

    <div class="wrap container cta_text">
        <div class="row">
            <div class="col-md-12">
                <div class="header_text_wrapper container">
                    <h1 class="header_text animated ">{{message}}</h1>
                    <h3 class="teaser_text animated2 ">Error {{error.status}}</h3>
                    <pre>{{error.stack}}</pre>
                    <div class="textaligncenter default">
                        <i class="fa fa-cogs fa-6x" style="color:#346aa9;" aria-hidden="true"></i>


                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="hero-container">
        <div class="hero" style="background-position: center; background-image: url();"></div>
    </div>
    <p>oh snap! Page was not found,please try:</p>
    <a style="decoration:none;" href="/">Redirecting Back Home</a>
    or
    <p>check the url and refresh </p>

    <script type='text/javascript' src='/js/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='/js/scripts.min.js'></script>
    <script type='text/javascript' defer="defer " src='/js/vendor/countUp.js'></script>

</body>

</html>