<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The New Global Standard for Fan Engagement|Sports dApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.jpg">
    <link rel="dns-prefetch" href="https:/maxcdn.bootstrapcdn.com/">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/owl.theme.default.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/animate.css" type="text/css" media="all" />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'
        type='text/css' media="all" />

    <style>
        @media only screen and (min-width: 0px) and (max-width: 498px) {
            .contact_btn {
                float: left;
                padding-left: 25px;
            }

            .learn_btn {
                float: left;
                padding-left: 25px;
            }

            .owl-carousel {
                text-align: center;
            }

            .owl-carousel owl-theme img {
                height: 75%;
                width: 75%;
                padding-left: 90px;
            }


        }

        @media only screen and (min-width: 600px) and (max-width: 1373px) {

            .owl-carousel img {
                border-radius: 7px;
                height: 40%;
                width: 40%;
                padding-left: 90px;
                padding-top: 40px;
            }
        }
    </style>

</head>

<body
    class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">
    {{> navbar}}

    <div id="context" class="wrap container cta_text">
        <div class="row">
            <div class="col-md-12">
                <div class="header_text_wrapper container ">
                    <h1 class="header_text animated fadeInUp header_overflow"> Global Standard for Fan Engagement

                    </h1>
                    <div style="float: right;">
                        <a href=""><button type="button" id="connect_btn"
                                class="btn btn-primary careers_cta call_to_action animated3 fadeInUp">Connect with your
                                fans
                            </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-container">
        <div class="hero" style="background-position: center; background-image: url(/images/hero2.jpg);"></div>
    </div>
    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Fan Engagement</h1>
                </div>
                <section class="main-content">
                    <div class="container">
                        <div class="wpb_wrapper">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="special-heading  default blue_heading header_title rail_title"
                                        style="padding-top: 120px;">
                                        <h1 class="fancy default">
                                            <span>
                                                <h2>Benefits</h2>
                                                <hr>
                                            </span>
                                        </h1>
                                    </div>


                                </div>
                                <div class="owl-carousel owl-theme">

                                    <img src="/images/iot.jpg" alt="iot" style="height:50%; width:50%; border-radius:5px;">

                                    <img src="/images/Ticketing.jpg" alt="tickets" style="height:50%; width:50%; border-radius:5px;">

                                    <img src="/images/M-BANKING.jpg" alt="mobile banking"
                                        style="height:50%; width:50%; border-radius:5px;">
                                    <img src="/images/STORE.jpg" alt="store" style="height:50%; width:50%; border-radius:5px;">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" container ">
                        <div class="rowimpact textaligncenter ">

                            <div class="special-heading textaligncenter default blue_heading header_title "
                                style="padding-bottom: 30px; ">
                                <h2 class="fancy default "><span>
                                        <h2 class="fancy default ">More Fans, Superior Interactions</h2>
                                        <hr>
                                    </span>
                                </h2>
                            </div>

                            <div class="row ">
                                <div class="col-md-12 ">

                                    <div class="special-heading textaligncenter default blue_heading header_title "
                                        style="padding-bottom: 30px; ">
                                        <h2 class="fancy default "><span>
                                                <h2>Opportunities</h2>
                                                <hr>
                                            </span>
                                        </h2>
                                    </div>
                                </div>
                                <div class="row impact textaligncenter ">
                                    <div class="col-md-3 col-sm-6 col-xs-12 ">
                                        <div class="textaligncenter default ">
                                            <img class="why_icn img-responsive " src="/images/Sensors-for-IoT.jpg "
                                                alt="iot devices " style="border-radius:50px; ">

                                        </div>
                                        <div class="special-heading textalignleft default ">
                                            <h5>IOT</h5>
                                        </div>
                                        <p>IoT includes sensors and small<br> embedded computers<br> with the ability to
                                            connect to
                                            <br> the internet.
                                        </p>

                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12 ">
                                        <div class="textaligncenter default ">
                                            <img class="why_icn img-circe " src="/images/Realtime.png "
                                                alt="Real time Data " style="padding-bottom:36px; ">

                                        </div>
                                        <div class="special-heading textaligncenter default ">
                                            <h5>Realtime Data</h5>
                                        </div>
                                        <p>Data created is immediately <br>made available to<br> users in the systems,
                                            <br>e.g real time content</p>

                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12 ">
                                        <div class="textaligncenter default ">
                                            <img class="why_icn img-circe " src="/images/Actv.png "
                                                alt="New Activation for Fans " style="padding-bottom:24px; ">

                                        </div>

                                        <div class="special-heading textalignright default ">
                                            <h5>New Activation For Fans</h5>
                                        </div>
                                        <p>Fans are now activated upon registration<br>and upon provisioning of data
                                        </p>

                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-12 ">

                                <div class="row learn_more ">
                                    <div class="special-heading textaligncenter default blue_heading header_title "
                                        style="padding-bottom: 30px; ">
                                        <h2 class="fancy default "><span>
                                                <h2>Learn More</h2>
                                                <hr>
                                            </span>
                                        </h2>
                                    </div>
                                    <div class="col-md-12 ">
                                        <div class="contact_btn ">
                                            <div class="centered ">
                                                <div class="contact_btn ">
                                                    <div class="special-heading textalignright default blue_heading header_title "
                                                        style="padding-bottom: 0px; float: left; ">
                                                        <h2 class="fancy default "><span>

                                                                <h2>White Paper</h2>
                                                                <hr>
                                                            </span>
                                                        </h2>

                                                        <a href="/learn/ "><button type="button "
                                                                class="btn btn-primary call_to_action "
                                                                style="float: left; ">Learn
                                                                More
                                                            </button></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact_btn ">
                                                <div class="special-heading textalignleft default blue_heading header_title "
                                                    style="padding-bottom: 10px; float: right; ">
                                                    <h2 class="fancy default "><span>

                                                            <h2>Contact Us</h2>
                                                            <hr>
                                                        </span>
                                                    </h2>

                                                    <a href="/contact "><button type="button "
                                                            class="btn btn-primary call_to_action ">Contact
                                                            Us
                                                        </button></a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </main>
            <!-- /.main -->
        </div>

    </div>
    {{> footer}}

    <!-- /.wrap -->

    <!--replace with a cdn for faster page-load-->
    <script type="text/javascript " src="/js/jquery-1.9.1.min.js ">
    </script>
    <script type="text/javascript " src="/js/owl.carousel.min.js "></script>
    <script type="text/javascript " src="/js/owl.js "></script>
    <script type="text/javascript " src="/js/scripts.min.js "></script>
    <script type="text/javascript " defer="defer " src="/js/vendor/countUp.js "></script>
</body>

</html>