<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fan Engagement|The New Global Standard for Fan Engagement|Benefits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owlcarousel/owl.theme.default.min.css">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com/">
    <link rel="dns-prefetch" href="https://script.crazyegg.com/">
    <link rel="dns-prefetch" href="https://cdn.ripple.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/">
    <link rel="stylesheet" id="ripple_css-css" href="/css/main.css" type="text/css" media="all">
    <link rel="stylesheet" id="google-hind-css" href="/css/css.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="/css/font-awesome.css" type="text/css" media="all">
    <style>
        @media only screen and (min-width: 0px) and (max-width: 498px) {
            .contact_btn {
                float: left;
            }

            .learn_btn {
                float: left;
            }
        }




        }

        .backtotop {
            background: none;
            margin: 0;
            position: fixed;
            bottom: 0;
            right: 0;
            width: 55px;
            height: 60px;
            z-index: 100;
            display: none;
            text-decoration: none;
            color: #808080;
        }

        .backtotop i {
            font-size: 50px;
        }

        .print {
            fill: #346aa9;
            height: 32px;
            width: 32px;
        }

        .pulse {
            fill: #346aa9;
            height: 32px;
            width: 32px;
        }

        .target {
            fill: #346aa9;
            height: 64px;
            width: 64px;
        }

        .cart {
            fill: #346aa9;
            height: 64px;
            width: 64px;
        }
    </style>
    <script type="text/javascript" src="/js/jquery.js" async="async" </script> <script>
            window.jQuery || document.write(
            '<script async="async" src="/js/jquery/jquery.min.js?1.11.1"><\/script>'
        )
    </script>
</head>

<body
    class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">

    {{> navbar}}
    <div class="wrap container cta_text">
        <div class="row">
            <div class="col-md-12">
                <div class="header_text_wrapper container">
                    <h2 class="leading_header_text animated fadeInUp"></h2>
                    <h1 class="header_text animated fadeInUp">The New Global Standard for Fan Engagement</h1>
                    <nobr>
                        <a href="https://ripple.com/contact"><button type="button"
                                class="btn btn-primary careers_cta call_to_action animated3 fadeInUp"
                                style="padding-bottom:10px;">Connect With Your
                                Fans</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-container">
        <div class="hero" style="background-position: center; background-image: url(/images/hero2.jpg);"></div>
    </div>
    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Fan Engagement </h1>
                </div>

                <section class="main-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blank_divider" style="height: 20px;"></div>
                                <div class="blank_divider" style="height: 20px;"></div>
                                <div class="special-heading textaligncenter default blue_heading header_title"
                                    style="padding-bottom: 30px;">
                                    <h2>More Fans, Superior Interactions</h2>



                                </div>

                            </div>
                </section>
                <hr>

                <section class="main-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="special-heading textaligncenter default blue_heading header_title"
                                    style="padding-bottom: 30px; ">
                                    <h2 class="fancy default"><span>
                                            <h2>Opportunities</h2>
                                            <hr>
                                        </span>
                                    </h2>
                                </div>

                                <div class="row impact" style="">
                                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-left:15px;">
                                        <img class="why_icn img-responsive" src="/images/Sensors-for-IoT.jpg"
                                            style="border-radius:50px; ">
                                        <div class="special-heading textaligncenter default">
                                            <h5>IOT</h5>
                                        </div>
                                        <p>IoT includes sensors and small<br>
                                            embedded computers<br> with the ability to connect
                                            to<br>
                                            the internet.
                                        </p>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-left:15px">
                                        <img class="why_icn img-responsive" src="/images/Realtime.png"
                                            style="border-radius:5px;padding-bottom:45px;">
                                        <div class="special-heading textaligncenter default">
                                            <h5>Real Time Data</h5>
                                        </div>
                                        <p>Data created is immediately <br>made available to<br> users in the systems,
                                            <br>e.g
                                            real time content</p>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12" style="margin-left:15px">
                                        <img class="why_icn img-responsive" src="/images/Actv.png"
                                            style="border-radius:50px; padding-bottom:24px;;">
                                        <div class="special-heading textaligncenter default">
                                            <h5>New Activation For Fans</h5>
                                        </div>
                                        <p>Fans are now activated upon registration<br>upon provisioning of data</p>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
        </div>
        </section>



        <hr>
        <section class="main-content bottom-callout no-padding shadow-off" style="float: center;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="blank_divider" style="height: 20px;"></div>
                        <div class="blank_divider" style="height: 20px;"></div>
                        <div class="special-heading textaligncenter default blue_heading header_title"
                            style="padding-bottom: 30px;">
                            <h2>Learn More</h2>

                        </div>

                        <div class="row learn_more">
                            <div class="col-md-12">
                                <div class="contact_btn">
                                    <div class="centered">
                                        <div class="special-heading textalignright default blue_heading header_title"
                                            style="padding-bottom: 0px; float: left;">
                                            <h2 class="fancy default"><span>

                                                    <h2>White Paper</h2>
                                                    <hr>
                                                </span>
                                            </h2>

                                            <a href="/learn/"><button type="button"
                                                    class="btn btn-primary call_to_action " style="float: left;">Learn
                                                    More
                                                </button></a>
                                        </div>
                                    </div>
                                    <div class="contact_btn">
                                        <div class="special-heading textalignleft default blue_heading header_title "
                                            style="padding-bottom: 10px; float: right;">
                                            <h2 class="fancy default"><span>

                                                    <h2>Contact Us</h2>
                                                    <hr>
                                                </span>
                                            </h2>

                                            <a href="/contact"><button type="button"
                                                    class="btn btn-primary call_to_action"
                                                    style="float: right; ">Contact
                                                    Us
                                                </button></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        </main>
        <!-- /.main -->
    </div>
    <!-- /.content -->
    </div>
    </div>

    <!-- /.wrap -->
    {{> footer}}
    {{> cookie-bar}}

    <!--to be replaced with a cdn for faster page-load-->

    <script type='text/javascript' src='/js/jquery/jquery.min.js' async=""></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script type='text/javascript' src='/js/animate.js'></script>
    <script type='text/javascript' src='/js/script.min.js'></script>
    <script type='text/javascript' defer="defer " src='/js/vendor/countUp.min.js'></script>
    <script type='text/javascript' src='/js/vendor/player.js' async='async'></script>
    <script type='text/javascript'>
    </script>
    <script type='/js/scripts.js?ver=5.0.3'></script>

    <script type='text/javascript' src='/js/scripts.js'></script>
    <script type='text/javascript' defer="defer " src='/js/vendor/countUp.min.js'></script>
    <script type='text/javascript' src='/js/vendor/player.js' async='async'></script>
    <script type='text/javascript'>
    </script>

    <script>
$(document).ready(function() {
                                                                                           $('.backtotop').css({ 'display': 'none' });
                                                                                       var offset = 200;
                                                                                       var duration = 600;
    $(window).scroll(function() {
        if ($(this).scrollTop() > offset) {
                                                                                           $('.backtotop').fadeIn(duration);
                                                                                       } else {
                                                                                           $('.backtotop').fadeOut(duration);
                                                                                       }
                                                                                   });

    $('.backtotop').click(function(event) {
                                                                                           event.preventDefault();
                                                                                       $('html, body').animate({scrollTop: 0}, duration);
                                                                                       return false;
                                                                                   })
                                                                               });
    </script>

    <script>
$(document).ready(function() {
                                                                                           $('.backtotop').css({ 'display': 'none' });
                                                                                       var offset = 200;
                                                                                       var duration = 600;
    $(window).scroll(function() {
        if ($(this).scrollTop() > offset) {
                                                                                           $('.backtotop').fadeIn(duration);
                                                                                       } else {
                                                                                           $('.backtotop').fadeOut(duration);
                                                                                       }
                                                                                   });

    $('.backtotop').click(function(event) {
                                                                                           event.preventDefault();
                                                                                       $('html, body').animate({scrollTop: 0}, duration);
                                                                                       return false;
                                                                                   })
                                                                               });
    </script>
</body>

</html>