<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Frictionless Payments on blockchain| Sportsdapp </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/favicon.jpg">
    <link rel="stylesheet" href="/css/main.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/owl.theme.default.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/animate.css" type="text/css" media="all">

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awsome/4.6.3/css/font-awsome.min.css' type='text/css' media="all" />
    <style>
        @media only screen and (min-width: 0px) and (max-width: 498px) {
            .contact_btn {
                float: left;
                padding-left: 45px;
            }
            .learn_btn {
                float: left;
                padding-left: 45px;
            }
        }
    </style>
</head>

<body class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">
    {{> navbar}}

    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>Frictionless Payments on Blockchain </h1>
                </div>
                <section class="main-content  no-padding shadow-off" style="padding-top:75px;">
                    <div class="container">
                        <div class="row">

                            <div id="carousel2" class="owl-carousel owl-theme">
                                <div class="textblock textaligncenter">
                                    <h3 class="textaligncenter fancy">A Key Feature of our Blockchin platform</h3>
                                    <p class="textaligncenter">
                                        A key future of Sports dApp.<br> All transactions are handled on our platform based the latest Blockchain Technology.

                                        <img class="textaligncenter" src="/images/payments.png" alt="store" style="height:60%; width:60%; border-radius:5px; padding-left: 100px;">
                                    </p>
                                </div>
                                <div class="textblock textaligncenter">
                                    <h3 class="textaligncenter">Guaranteed Security and Realiability</h3>
                                    <p class="">
                                        Fast, Secure and Reliable.<br> Payments are secure, fast and reliable ensuring efficiency.

                                        <img class="textaligncenter" src="/images/M-BANKING.jpg" alt="store" style="height:60%; width:60%; border-radius:10px; padding-left: 100px"></p>
                                </div>

                            </div>


                        </div>
                    </div>


                </section>


                <section class="main-content solutions_wrapper no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="special-heading textaligncenter default blue_heading header_title" style="padding-bottom: 30px;">
                                    <h2 class="fancy default"><span>
                                            <h2>Frictionless Payments on Blockchain</h2>
                                            <hr>
                                        </span>
                                    </h2>
                                </div>
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="special-heading textaligncenter default">
                                            <h5>A key Feature of Of sports dApp</h5>
                                        </div>

                                        <p>
                                            The credit card industry is dominated by a handful of providers that process billions of transactions monthly.</p><br>


                                        <p>In addition to flat fees for POS terminal usage and network fees, merchants pay up to 3.5% in fees per transaction. Incidental fees like chargebacks in case of fraud require intermediaries to resolve disputes adding
                                            another potential cost.<br> Nevertheless most merchants bite the bullet on the extra expense because they understand just how much transaction speed has become central to customer experience these days. All
                                            of the associated costs are passed onto the consumer.</p><br>


                                        <p>Payments using cryptocurrencies have progressed well enough as to overcome the slow processing speed that plagued early currencies such as Bitcoin. The often revered million transactions per second crypto enthusiasts
                                            brazenly exclaimed to be upon the horizon can hardly be said to be close at hand, however most in the community have come to accept that the need for such processing capacity in order to fuel early adoption
                                            is unnecessary.<br> PayPal as an example, a global payments processor running 5 million transactions a day, processes an average of 193 transactions per second.</p><br>

                                        <p>Among the more recent improvements to payment processing capabilities in the cryptosphere, plasma, a layer 2 technology built on top of the Ethereum protocol, offers a key breakthrough towards capacitating high
                                            transaction volume. By offloading transactions off the main Ethereum blockchain and onto a "child" chain, which periodically reports back to the main chain in order to settle disputes, Plasma is already capable
                                            of handling tens of thousands of transactions per second.</p>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </section>
                <section class="main-content bottom-callout no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row learn_more">
                                    <div class="col-md-12">
                                        <div class="contact_btn">
                                            <div class="special-heading textalignright default blue_heading header_title" style="padding-bottom: 0px; float: left;">
                                                <h2 class="fancy default"><span>

                                                        <h2>Learn More</h2>
                                                        <hr>
                                                    </span>
                                                </h2>

                                                <a href="/learn/"><button type="button"
                                                        class="btn btn-primary call_to_action "
                                                        style="float: left;">Learn
                                                        More
                                                    </button></a>
                                            </div>
                                        </div>
                                        <div class="contact_btn">
                                            <div class="special-heading textalignleft default blue_heading header_title" style="padding-bottom: 0px; float: right;">
                                                <h2 class="fancy default"><span>

                                                        <h2>Contact Us</h2>
                                                        <hr>
                                                    </span>
                                                </h2>

                                                <a href="/contact"><button type="button"
                                                        class="btn btn-primary call_to_action"
                                                        style="float: right;">Contact
                                                        Us
                                                    </button></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </main>
            <!-- /.main -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.wrap -->
    {{> footer}}

    <!--replace with a cdn for faster page-load-->

    <script type="text/javascript " src="/js/jquery-1.9.1.min.js ">
    </script>
    <script type="text/javascript " src="/js/owl.carousel.min.js "></script>
    <script type="text/javascript " src="/js/owl.js "></script>
    <script type="text/javascript " src="/js/scripts.min.js "></script>
    <script type="text/javascript " defer="defer " src="/js/vendor/countUp.js "></script>
</body>

</html>