<!DOCTYPE html>
<html class="no-js" lang="en-US">

<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Interactive Games,Play Now|Earn Upgrades,Customise Your Avatars|SportsDapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/rules-p-fA2PwTuYutw4z.js" async=""></script>
    <script type="text/javascript" id="www-widgetapi-script" src="/js/www-widgetapi.js" async=""></script>
    <script src="/js/iframe_api.js"></script>
    <script async="" id="demandbase_js_lib" src="/js/25addc82.js"></script>
    <script src="/js/quant.js" async="" type="text/javascript"></script>
    <link rel="dns-prefetch" href="https:/ajax.googleapis.com/">
    <link rel="dns-prefetch" href="https:/script.crazyegg.com/">
    <link rel="dns-prefetch" href="https:/cdn.ripple.com/">
    <link rel="dns-prefetch" href="https:/fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https:/maxcdn.bootstrapcdn.com/">
    <link rel="dns-prefetch" href="https:/s.w.org/">
    <link rel="stylesheet" id="ripple_css-css" href="/css/main.css" type="text/css" media="all">
    <link rel="stylesheet" id="ripple_css-css" href="/css/animate.css" type="text/css" media="all">
    <link rel="stylesheet" id="google-hind-css" href="/css/css.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="/css/font-awesome.css" type="text/css" media="all">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script>
        window.jQuery || document.write(
            '<script async="async" src="/js/jquery/jquery.min.js?1.11.1"><\/script>'
        )
    </script>
    <style>
        @media only screen and (min-width: 0px) and (max-width: 498px) {
            .contact_btn {
                float: left;
            }

            .learn_btn {
                float: left;
            }
        }

        .print {
            fill: #346aa9;
            height: 32px;
            width: 32px;
        }

        .pulse {
            fill: #346aa9;
            height: 32px;
            width: 32px;
        }

        .target {
            fill: #346aa9;
            height: 64px;
            width: 64px;
        }

        .cart {
            fill: #346aa9;
            height: 64px;
            width: 64px;
        }
   
        .cart {
            fill: #346aa9;
            height: 64px;
            width: 64px;
        }

        .graph {
            fill: #346aa9;
            height: 64px;
            width: 64px;
        }

        .cog {
            fill: #346aa9;
            height: 64px;
            width: 64px;
        }
    </style>
</head>

<body
    class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">
    {{> navbar}}
    <div class="wrap container cta_text">
        <div class="row">
            <div class="col-md-12">
                <div class="header_text_wrapper container">
                    <h1 class="header_text animated fadeInUp">Interactive Games</h1>
                    <div style="float: right;">
                        <a href="play"><button type="button"
                                class="btn btn-primary careers_cta call_to_action animated3 fadeInUp">Play
                                Now
                            </button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-container">
        <div class="hero" style="background-position: center; background-image: url(/images/hero3.jpg);"></div>
    </div>
    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Games</h1>
                </div>

                <section class="main-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="special-heading textaligncenter default blue_heading header_title"
                                    style="padding-bottom: 30px;">
                                    <h2 class="fancy default"><span>
                                            <h2>Avatars</h2>
                                            <hr>
                                        </span>
                                    </h2>
                                </div>

                                <div class="row impact" style="margin-left:150px;">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="textaligncenter default">
                                            <svg class="cog">
                                                <use xlink:href="/images/sprite.svg#cog" class="cog"></use>
                                            </svg>
                                        </div>
                                        <div class="special-heading textalignleft default">
                                            <h5>Customize Your Avatar</h5>
                                        </div>
                                        <p>more Explanations</p>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="textaligncenter default">
                                            <svg class="graph">
                                                <use xlink:href="/images/sprite.svg#graph" class="graph"></use>
                                            </svg>
                                        </div>
                                        <div class="special-heading textaligncenter default">
                                            <h5>Earn Upgrades</h5>
                                        </div>
                                        <p>even more Explanations</p>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="textaligncenter default">
                                            <svg class="cart">
                                                <use xlink:href="/images/sprite.svg#cart" class="cart"></use>
                                            </svg>
                                        </div>

                                        <div class="special-heading textalignright default">
                                            <h5>Purchase Skins</h5>
                                        </div>
                                        <p> a paragraph explanations</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                </section>
                <hr>
                <section class="main-content">
                    <div class="container">
                        <div class="row">


                            <div class="row">
                                <div class="col-md-12">

                                    <div class="special-heading textaligncenter default blue_heading header_title"
                                        style="padding-bottom: 30px;">
                                        <h2 class="fancy default"><span>
                                                <h2>Leaderboard (Invisions mock up)</h2>
                                                <hr>
                                            </span>
                                        </h2>
                                    </div>
                                </div>
                </section>
                <hr>
                </section class="main-content">
                <div class="container">
                    <div class="row">


                        <div class="row">
                            <div class="col-md-12">

                                <div class="special-heading textaligncenter default blue_heading header_title"
                                    style="padding-bottom: 30px;">
                                    <h2 class="fancy default"><span>
                                            <h2>Coming Soon</h2>
                                            <hr>
                                        </span>
                                    </h2>
                                </div>

                                <div class="row impact">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <img id="bounceleft" class="why_icn img-responsive" src="/images/baseball.jpg"style="border-radius:50px;">
                                        <div class="special-heading textaligncenter default">
                                            <h5>Baseball Game</h5>
                                        </div>
                                        <p>Interactive Baseball game-both multiplayer<br> and single payer options</p>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <img class="why_icn img-responsive" src="/images/basketball.jpg"
                                            style="border-radius:10px;">
                                        <div class="special-heading textaligncenter default">
                                            <h5>Basketball Game</h5>
                                        </div>
                                        <p>Interactive Basketball games-multiplayer<br> and single payer options</p>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <img id="bounceup" class="why_icn img-responsive" src="/images/ball.jpg" style="height:50%; width:50%;">
                                        <div class="special-heading textaligncenter default">
                                            <h5>Football Game</h5>
                                        </div>
                                        <p>Interactive Foootball Games-multiplayer<br> and single payer options</p>
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <img id="bounceup" class="why_icn img-responsive" src="/images/hockey_01.jpg" style="border-radius:10px;">
                                        <div class="special-heading textaligncenter default">
                                            <h5>Hockey Game</h5>
                                        </div>
                                        <p>Interactive Hockey Games-multiplayer<br> and single payer options</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
        </div>
        </section>


    </div>
    </div>

    </div>

    </div>
    </div>
    {{> bottom_section}}
    </main>
    <!-- /.main -->
    </div>
    <!-- /.content -->
    </div>
    <!-- /.wrap -->
    {{> footer}}
    <!--replace with a cdn for faster page-load-->
    <script type='text/javascript' src='/js/script.min.js'></script>
    <script type='text/javascript' defer="defer " src='/js/vendor/countUp.js'></script>
    <script type='text/javascript' src='/js/vendor/player.js' async='async'></script>
    <script type='text/javascript'>
    </script>
    <script type='/js/scripts.js?ver=5.0.3'></script>

    <script type='text/javascript' src='/js/scripts.js'></script>
    <script type='text/javascript' defer="defer " src='/js/vendor/countUp.js'></script>
    <script type='text/javascript' src='/js/vendor/player.js' async='async'></script>
    <script type='text/javascript'>
    </script>
    <script type='text/javascript' src='/js/scripts.js?ver=5.0.3'></script>
</body>

</html>