<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="XUA-Compatible" content="IE=Edge">

    <title>The Decentralized Future of Fan Engagement |Stadium is the Future</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/venobox.css" type="text/css" media="screen">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com/">
    <link rel="dns-prefetch" href="https://script.crazyegg.com/">
    <link rel="dns-prefetch" href="https://cdn.ripple.com/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="dns-prefetch" href="https://ripple.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/">
    <link rel='stylesheet' id='contact-form-7' href='/css/styles.css' type='text/css' media='all' />
    <link rel='stylesheet' id='ripple_css-css' href='/css/main.css?8d26ef95708d98e42dfd9752dbcf0620' type='text/css'
        media="all" />
    <link rel='stylesheet' id='font-awsome-css' href='/css/font-awsome.min.css' type='text/css' media='all' />
    <link rel='stylesheet'  href='/css/style.css' type='text/css' media='all' />
    <script>window.jQuery || document.write('<script async="async" src="/js/jquery.min.js?1.11.1"><\/script>')</script>
    <script type='text/javascript' src='/js/6316.js' async='async'></script>
    <style>
        @media only screen and (min-width: 0px) and (max-width: 498px) {
            .contact_btn {
                float: left;
            }

            .learn_btn {
                float: left;
            }
        }

        .backtotop {
            background: none;
            margin: 0;
            position: fixed;
            bottom: 0;
            right: 0;
            width: 55px;
            height: 60px;
            z-index: 100;
            display: none;
            text-decoration: none;
            color: #808080;
        }

        .backtotop i {
            font-size: 50px;
        }

        .print {
            fill: #346aa9;
            height: 32px;
            width: 32px;
        }

        .pulse {
            fill: #346aa9;
            height: 32px;
            width: 32px;
        }

        .target {
            fill: #346aa9;
            height: 64px;
            width: 64px;
        }

        .cart {
            fill: #346aa9;
            height: 64px;
            width: 64px;
        }
    </style>



</head>

<body
    class="home page-template page-template-template-home page-template-template-home-php page page-id-4 txlive page-home">
    <header class="banner navbar navbar-default navbar-fixed-top initial_header" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <div class="nav_lines">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <div class="nav_x"><img class="blue_x" src="/images/x_icon_blue.svg"></div>
                    <div class="nav_x"><img class="white_x" src="/images/x_icon.svg"></div>
                </button>
               
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul id="menu-primary-navigation" class="nav navbar-nav">
                    <li class="dropdown menu-ripplenet"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="/">Sports dApp<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-global-payments"><a href="/smart-ticketing/">Smart Ticketing</a>
                            </li>
                            <li class="menu-on-demand-liquidity"><a href="/loyalty-and-rewards/">Loyalty
                                    & Rewards</a></li>
                            <li class="menu-join-the-network"><a href="/fan-engagement/">Fan
                                    Engagement</a></li>
                            <li class="menu-join-the-network"><a href="/gamers/">Games</a></li>
                            <li class="menu-join-the-network"><a href="/road-map/">Road Map</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-use-cases"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="/use-cases/">Use Cases <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-overview"><a href="/overview/">Overview</a></li>
                            <li class="menu-banks"><a href="/blockchain-rewards/">Blockchain
                                    Rewards</a></li>
                            <li class="menu-payment-providers"><a href="/frictionless-payments/">Frictionless
                                    Payments</a></li>
                            <li class="menu-digital-asset-exchanges"><a
                                    href="/interorganization-data-management/">Inter-organizational
                                    Data Management</a>
                            </li>
                            <li class="menu-digital-asset-exchanges"><a href="/blockchain-and-iot/">Blockchain
                                    and IOT </a>
                            </li>
                            <li class="menu-digital-asset-exchanges"><a href="/digital-id/">Digital
                                    Id</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-resources"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="/">Resources
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-insights"><a href="/learn/">Learn</a></li>
                            <li class="menu-collateral"><a href="/insights/">Insights</a></li>
                            <li class="menu-press-center"><a href="/media-center/">Media</a></li>
                        </ul>
                    </li>

                    <li class="dropdown menu-about"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#"
                            href="/company/">About
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-our-company"><a href="/roster/">Roster</a></li>
                            <li class="menu-careers"><a href="/company/">Company</a></li>
                            <li class="menu-sbi-ripple-asia"><a href="/join-the-team/">Join
                                    The Team</a></li>
                            <li class="menu-ripple-for-good"><a href="/advisors/">Advisors</a></li>
                        </ul>
                    </li>
                    <li class="menu-contact"><a href="/contact">Contact</a></li>
                    <a href="#" class="backtotop" style="display: inline;">
                        <i class="fa fa-arrow-circle-up"></i>
                    </a>
                </ul>
                <div id="searchForm">
                    <div class="searchWrap">
                        <form role="search" method="get" autocomplete="off" class="search-form form-inline" action="/">
                            <label class="sr-only">Search for:</label>
                            <div class="input-group">
                                <input id="search" type="search" value="" name="s" class="search-field form-control"
                                    placeholder="Search Ripple">
                                <span class="input-group-btn">
                                    <button id="search_submit" type="submit" class="search-submit btn btn-default"><i
                                            class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="wrap container cta_text">
        <div class="row">
            <div class="col-md-12">
                <div class="header_text_wrapper container">
                    <h2 class="leading_header_text animated fadeInUp"></h2>
                    <h1 class="header_text animated fadeInUp">Join Sports dApp</h1>
                    <h3 class="teaser_text animated2 fadeInUp">The Decentralized Future of Fan Engagement</h3>
                    <span class="videoButton"><a class="venobox btn btn btn-primary call_to_action animated3 fadeInUp"
                            data-autoplay="true" data-vbtype="video"
                            title="Watch the Future of Decentralized Fan Engagement" data-overlay="black"
                            framewidth="640" frameheight="390" spinner="cube-grid"
                            href="https://www.youtube.com/watch?v=-qnnGU1ig9w" style="height:; width:;"><i
                                class="fa fa-play" aria-hidden="true"></i> Watch the video</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="home-hero-container">
        <div class="home-hero"></div>
    </div>
    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Home </h1>
                </div>

                <section class="main-content problem-section no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                    <div class="wpb_wrapper">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                    <div class="wpb_wrapper">
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <div class="special-heading  default blue_heading header_title rail_title"
                                                                    style="padding-bottom: 30px;">
                                                                    <h1 class="fancy default">
                                                                        <span>
                                                                            <h2>Today’s Payment Rails Don’t Cut It</h2>
                                                                            <hr>
                                                                        </span>
                                                                    </h1>
                                                                </div>
                                                                <p>In a world where three billion people are connected
                                                                    online,
                                                                    cars
                                                                    drive themselves and appliances can communicate,
                                                                    global
                                                                    payments are
                                                                    still stuck in the disco era. </p>
                                                                <p>Why? The payment infrastructure was built before the
                                                                    Internet
                                                                    with few updates.</p>

                                                            </div>
                                                            <div class="col-sm-7">


                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <section class="main-content what_is_ripple no-padding shadow-off">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">

                                                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                        <div class="wpb_wrapper">
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <img class="meet-ripplenet img-responsive"
                                                                        src="Ripple%20-%20One%20Frictionless%20Experience%20To%20Send%20Money%20Globally%20|%20Ripple_files/ripplenet-section.gif">
                                                                </div>
                                                                <div class="col-sm-6">
                                                                    <div class="special-heading default blue_heading header_title ripplenet_title"
                                                                        style="padding-bottom: 30px;">
                                                                        <h2>Part of The Abstract</h2>
                                                                        <hr>
                                                                    </div>

                                                                    <div class="row why_ripple">
                                                                        <div class="col-md-3 col-sm-6 col-xs-12">

                                                                            <div class="special-heading default">
                                                                                <h5>Smart Tickets</h5>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3 col-sm-6 col-xs-12">

                                                                            <div class="special-heading default">
                                                                                <h5 class="fancy default">Rewards</h5>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-md-3 col-sm-6 col-xs-12">

                                                                            <div class="special-heading default">
                                                                                <h5 class="fancy default">Games </h5>
                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </section>
                <section class="main-content problem-section no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                    <div class="wpb_wrapper">
                                        <div class="row">
                                            <div class="col-md-12">

                                                <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                                    <div class="wpb_wrapper">
                                                        <div class="row">
                                                            <div class="col-sm-5">
                                                                <div class="special-heading  default blue_heading header_title rail_title"
                                                                    style="padding-bottom: 30px;">
                                                                    <h1 class="fancy default">
                                                                        <span>
                                                                            <h2>The Stadium a Platform</h2>
                                                                            <hr>
                                                                        </span>
                                                                    </h1>
                                                                </div>
                                                                <section class="main-content">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                </section>


        </div>
        <div class="col-sm-7">
            <div class="row">
                <div class="col-md-6">

                </div>
            </div>


            <p class="small textaligncenter">*World Trade
                Organization,
                Institute of International Finance, Federal Reserve
            </p>
        </div>
    </div>


    <section class="main-content callout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row learn_more">
                        <div class="col-md-12">
                            <div class="special-heading textaligncenter default blue_heading header_title"
                                style="padding-bottom: 30px;">
                                <h2 class="fancy default">
                                    <span>
                                        <h2>Contact Us</h2>
                                        <hr>
                                    </span>
                                </h2>
                            </div>
                            <div class="text-block textaligncenter">Learn more, speak
                                with a member of our team.</div>
                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                <div class="wpb_wrapper">
                                    <a href="/contact"><button type="button"
                                            class="btn btn-primary call_to_action">Contact Us</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main><!-- /.main -->
    </div><!-- /.content -->
    </div><!-- /.wrap -->
    {{> footer}}


    <!--replace with a cdn for faster page-load-->

    <script type="text/javascript">
        _qevents.push({ qacct: "p-fA2PwTuYutw4z" });
    </script>


    <script type="text/javascript">
        piAId = "106572";
        piCId = "1197";

        (function () {
            function async_load() {
                var s = document.createElement("script"); s.type = "text/javascript";
                s.src = ("https:" == document.location.protocol ? "https://pi" : "http://cdn") + ".pardot.com/pd.js";
                var c = document.getElementsByTagName("script")[0]; c.parentNode.insertBefore(s, c);
            }
            if (window.attachEvent) { window.attachEvent("onload", async_load); }
            else { window.addEventListener("load", async_load, false); }
        })();
    </script>

    <script type="text/javascript">
        (function () {
            var s = document.getElementsByTagName("script")[0];
            var b = document.createElement("script");
            b.type = "text/javascript"; b.async = true;
            b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
            s.parentNode.insertBefore(b, s);
        })();
    </script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt=""
            src="https://dc.ads.linkedin.com/collect/?pid=660028&fmt=gif" />
    </noscript>
    <script type='text/javascript' src='/js/scripts.min.js?4d08ef4f5e639b2e07766c9386e91cbd'></script>
    <script type='text/javascript' defer="defer" src='/js/vendor/countUp.min.js'></script>

    <script type='text/javascript' src='/js/scripts.js?ver=5.0.3'></script>

    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = '//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
        ga('create', 'UA-45576805-1', 'auto');
        // ga('require', 'GTM-WLFPCHW');
        ga('send', 'pageview');
    </script>

    <div class='cookie-bar'>
        <p>We use cookies to understand how you use our site, to personalize content, and to improve your experience. By
            continuing to use our site, you accept our use of cookies and revised <a href="/privacy-policy/">Privacy
                Policy</a>.</p><span class='pull-right dismiss'>Dismiss</span>
        <div>
            <script>
                $(document).ready(function () {
                    $('.backtotop').css({ 'display': 'none' });
                    var offset = 200;
                    var duration = 600;
                    $(window).scroll(function () {
                        if ($(this).scrollTop() > offset) {
                            $('.backtotop').fadeIn(duration);
                        } else {
                            $('.backtotop').fadeOut(duration);
                        }
                    });

                    $('.backtotop').click(function (event) {
                        event.preventDefault();
                        $('html, body').animate({ scrollTop: 0 }, duration);
                        return false;
                    })
                });
            </script>

            <script>
                $(document).ready(function () {
                    $('.backtotop').css({ 'display': 'none' });
                    var offset = 200;
                    var duration = 600;
                    $(window).scroll(function () {
                        if ($(this).scrollTop() > offset) {
                            $('.backtotop').fadeIn(duration);
                        } else {
                            $('.backtotop').fadeOut(duration);
                        }
                    });

                    $('.backtotop').click(function (event) {
                        event.preventDefault();
                        $('html, body').animate({ scrollTop: 0 }, duration);
                        return false;
                    })
                });
            </script>


            <div>

            </div>


</body>

</html>