<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="XUA-Compatible" content="IE=Edge">

    <title>The Decentralized Future of Fan Engagement |Stadium is the Future</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="dns-prefetch" href="https://ajax.googleapis.com/">
    <link rel="dns-prefetch" href="https://script.crazyegg.com/">
    <link rel="dns-prefetch" href="https://cdn.ripple.com/">
    <link rel="dns-prefetch" href="https://ripple.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/">
    <link rel="stylesheet" href="/css/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owlcarousel/owl.theme.default.min.css">
    <link rel='stylesheet' id='contact-form-7' href='/css/styles.css' type='text/css' media='all' />
    <link rel='stylesheet' id='ripple_css-css' href='/css/main.css' type='text/css' />
    <link rel='stylesheet' id='font-awsome-css' href='/css/fonts/font-awsome.css' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awsome-css' href='/css/style.css' type='text/css' media='all' />
    <style>
        @media only screen and (min-width: 0px) and (max-width: 498px) {
            .contact_btn {
                float: left;
            }

            .learn_btn {
                float: left;
            }
        }

        .print {
            fill: #346aa9;
            height: 32px;
            width: 32px;
        }

        .pulse {
            fill: #346aa9;
            height: 32px;
            width: 32px;
        }

        .target {
            fill: #346aa9;
            height: 64px;
            width: 64px;
        }

        .cart {
            fill: #346aa9;
            height: 64px;
            width: 64px;
        }
    </style>
 


</head>

<body
    class="home page-template page-template-template-home page-template-template-home-php page page-id-4 txlive page-home">
    <header class="banner navbar navbar-default navbar-fixed-top initial_header" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <div class="nav_lines">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <div class="nav_x"><img class="blue_x" src="/images/x_icon_blue.svg"></div>
                    <div class="nav_x"><img class="white_x" src="/images/x_icon.svg"></div>
                </button>

            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul id="menu-primary-navigation" class="nav navbar-nav">
                    <li class="dropdown menu-ripplenet"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="/">SportsDapp<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-global-payments"><a href="/smart-ticketing/">Smart Ticketing</a>
                            </li>
                            <li class="menu-on-demand-liquidity"><a href="/loyalty-and-rewards/">Loyalty
                                    & Rewards</a></li>
                            <li class="menu-join-the-network"><a href="/fan-engagement/">Fan
                                    Engagement</a></li>
                            <li class="menu-join-the-network"><a href="/games/">Games</a></li>
                            <li class="menu-join-the-network"><a href="/road-map/">Road Map</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-use-cases"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="/use-cases/">Use Cases <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-overview"><a href="/overview/">Overview</a></li>
                            <li class="menu-banks"><a href="/blockchain-rewards/">Blockchain
                                    Rewards</a></li>
                            <li class="menu-payment-providers"><a href="/frictionless-payments/">Frictionless
                                    Payments</a></li>
                            <li class="menu-digital-asset-exchanges"><a
                                    href="/interorganization-data-management/">Inter-organizational
                                    Data Management</a>
                            </li>
                            <li class="menu-digital-asset-exchanges"><a href="/blockchain-and-iot/">Blockchain
                                    and IOT </a>
                            </li>
                            <li class="menu-digital-asset-exchanges"><a href="/digital-id/">Digital
                                    Id</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-resources"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="/">Resources
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-insights"><a href="/learn/">Learn</a></li>
                            <li class="menu-collateral"><a href="/insights/">Insights</a></li>
                            <li class="menu-press-center"><a href="/media-center/">Media</a></li>
                        </ul>
                    </li>

                    <li class="dropdown menu-about"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#"
                            href="/company/">About
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-our-company"><a href="/roster/">Roster</a></li>
                            <li class="menu-careers"><a href="/company/">Company</a></li>
                            <li class="menu-sbi-ripple-asia"><a href="/join-the-team/">Join
                                    The Team</a></li>
                            <li class="menu-ripple-for-good"><a href="/advisors/">Advisors</a></li>
                        </ul>
                    </li>
                    <li class="menu-contact"><a href="/contact">Contact</a></li>
                </ul>
                <div id="searchForm">
                    <div class="searchWrap">
                        <form role="search" method="get" autocomplete="off" class="search-form form-inline" action="/">
                            <label class="sr-only">Search for:</label>
                            <div class="input-group">
                                <input id="search" type="search" value="" name="s" class="search-field form-control"
                                    placeholder="Search Ripple">
                                <span class="input-group-btn">
                                    <button id="search_submit" type="submit" class="search-submit btn btn-default"><i
                                            class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="wrap container cta_text">
        <div class="row">
            <div class="col-md-12">
                <div class="header_text_wrapper container">
                    <h2 class="leading_header_text animated fadeInUp"></h2>
                    <h1 class="header_text animated fadeInUp">SportsDapp</h1>
                    <h3 class="teaser_text animated2 fadeInUp">The Decentralized Future of Fan Engagement</h3>
                    <span class="videoButton"><a id="trigger" href="#"
                            class="btn btn btn-primary call_to_action animated3 fadeInUp" data-toggle="modal"
                            data-target="#videoModal" data-thevideo="https://www.youtube.com/watch?v="><i
                                class="fa fa-play" aria-hidden="true"></i>Watch The Video</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="home-hero-container">
        <div class="home-hero"></div>
    </div>
    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Smart Ticketing </h1>
                </div>

                <section class="main-content solutions_wrapper no-padding shadow-off">
                    <div class="col-md-12">

                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                            <div class="wpb_wrapper">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <section class="main-content quote-section no-padding shadow-off">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-12">

                                                           


                                                                <div class="owl-carousel owl-theme">

                                                                    <div class="item"><img src="/images/MISSION.jpg"
                                                                            alt="mission"
                                                                            ></div>

                                                                    <div class="item"><img
                                                                            src="/images/Startup-Concept.jpg"
                                                                            alt="startup-concept"
                                                                            ></div>
                                                                    <div class="item"><img src="/images/STORE.jpg"
                                                                            alt="store" >
                                                                    </div>
                                                                    <div class="item"><img
                                                                            src="/images/Team-Working.jpg"
                                                                            alt="teamworking"
                                                                            ></div>
                                                                    <div class="item"><img
                                                                            src="/images/SOCIAL-MEDIA.jpg"
                                                                            alt="social-media"
                                                                            ></div>

                                                            </div>
                                                        </div>
                                                    </div>
                                            </section>

                                            <div class="row impact">
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <img class="why_icn img-responsive" src="">
                                                    <div class="special-heading textaligncenter default">
                                                        <div class="textaligncenter default">
                                                            <svg class="cart">
                                                                <use xlink:href="/images/sprite.svg#print"
                                                                    class="print">
                                                                </use>
                                                            </svg>
                                                        </div>
                                                        <h5 class="fancy">Smart Tickets
                                                        </h5>
                                                    </div>
                                                    <p> Ticket fraud occurs on a large scale because tickets are easily
                                                        duplicated and can be sold multiple times.</p>
                                                    <p> Bad actors can easily duplicate mechanisms for proving a tickets
                                                        authenticity(Bar Code, QR Code), which results in confusion and
                                                        disappointed fans who are prevented from attending the event.
                                                    </p>



                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="textaligncenter default">
                                                        <svg class="cart">
                                                            <use xlink:href="/images/sprite.svg#pulse" class="pulse">
                                                            </use>
                                                        </svg>
                                                    </div>
                                                    <div class="special-heading textaligncenter default">
                                                        <h5 class="fancy">Rewards</h5>
                                                    </div>
                                                    <p>A blockchain loyalty program presents a unique opportunity to
                                                        reward digital points or currency, which are easy to track and
                                                        can be awarded in small increments for use on the application.
                                                    </p>
                                                    <p>The ability to reward users more readily and quickly and update
                                                        the balance of a digital wallet will lead to an increase in
                                                        redemption transactions.</p><br>

                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="textaligncenter default">
                                                        <svg class="cart">
                                                            <use xlink:href="/images/sprite.svg#target" class="target">
                                                            </use>
                                                        </svg>
                                                    </div>
                                                    <div class="special-heading textaligncenter default">
                                                        <h5 class="fancy-text">Games</h5>
                                                    </div>
                                                    <p>Blockchain games represent a fundamental shift in approach from
                                                        value extraction in closed ecosystems to value capture in open
                                                        ecosystems.</p>
                                                    <br>
                                                    <p> Many in the crypto world will point to CryptoKitties, a
                                                        blockchain based video game that allows players to purchase,
                                                        collect, breed and sell various types of virtual cats as the
                                                        first real success of
                                                        blockchain in the gaming sphere. Its implementation was fairly
                                                        basic to say the least.</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <hr>
                                </div>
                </section>

                <section class="main-content solutions_wrapper no-padding shadow-off textaligncenter">
                    <div class="col-md-12">

                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                            <div class="wpb_wrapper">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="blank_divider" style="height: 20px;"></div>
                                            <div class="blank_divider" style="height: 20px;"></div>
                                            <div class="special-heading textaligncenter default blue_heading header_title"
                                                style="padding-bottom: 30px;">
                                                <h2 class="fancy default"><span>
                                                        <h2>The Stadium as A platform</h2>
                                                    </span>
                                                </h2>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-3 col-sm-6 col-md-12">
                                                    <img class="why_icn img-responsive" src="/images/5G.gif"
                                                        style="border-radius:10px;">
                                                    <div class="special-heading textaligncenter default">
                                                        <h3>5G Technology</h3>
                                                    </div>
                                                    <p>Stadium integration solutions interface with internal
                                                        systems to manage the upkeep of necessary facilities within
                                                        the
                                                        venue.
                                                        Systems are supported by the stadium’s broadband capacity,
                                                        and
                                                        network coverage expands the reach of the platform far
                                                        beyond
                                                        the gate of entry.</p>

                                                </div>

                                                <div class="row">
                                                    <div class="col-md-3 col-sm-6 col-md-12">
                                                        <img class="why_icn img-responsive" src="/images/5G.jpg"
                                                            style="border-radius:10px;">
                                                        <div class="special-heading textaligncenter default">
                                                            <h3>5G Technology(continued)</h3>
                                                        </div>

                                                        <p>These systems can be programmed to account for available
                                                            parking, track the flow of public transit, and can even
                                                            provide
                                                            recommendations on nearby retail and dining.<br> 5G helps
                                                            with
                                                            processing and outputting of relevant data, funnelling
                                                            relevant
                                                            content into visualization systems which consolidate game
                                                            data,
                                                            and then translating this data into fan-friendly formats for
                                                            display on stadium device’s and/or the personal device of
                                                            every
                                                            active user on the network.</p>
                                                    </div>
                                                    <div class="col-md-3 col-md-12">
                                                        <img class="why_icn img-responsive" src="/images/smart.jpg"
                                                            style="padding-bottom:20px; border-radius:10px;">
                                                        <div class="special-heading textaligncenter default">
                                                            <h3>Smart Stadiums</h3>
                                                        </div>
                                                        <p>The first step for making a stadium smarter is to roll out a
                                                            HD Wi-Fi infrastructure that supports thousands of users
                                                            across multifarious profiles and devices.<br> In a smart
                                                            stadium, the experience starts even before the event kicks
                                                            off. Wi-Fi Marketing is a great way to monetize an audience,
                                                            by collecting activity-based data.<br></p>



                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-3 col-sm-6 col-md-12">
                                                            <img class="why_icn img-responsive"
                                                                src="/images/smart01.jpg" style="border-radius:10px; padding-bottom:30px;" >
                                                            <div class="special-heading textaligncenter default">
                                                                <h3>Smart Stadiums (continued)</h3>
                                                            </div>
                                                            <p>As a profit centre, a
                                                                stadium can turn into a great promotional and marketing
                                                                vehicle for organizers and sponsors.<br> By combining
                                                                geolocation, real time content, advertising, couponing
                                                                and
                                                                advanced user-centric data analytics, stadiums can
                                                                better
                                                                engage with users to improve their overall experience.
                                                            </p>

                                                        </div>
                                                    </div>
                                                </div>

                                                <hr>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
        </div>
        {{> bottom_section}}
        <section class="main-content problem-section no-padding shadow-off">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                            <div class="wpb_wrapper">
                                <div class="modal" id="videoModal" tabindex="-1" role="dialog"
                                    aria-labelledby="videoModal" aria-hidden="true">
                                    <div class="vertical-alignment-helper">
                                        <div class="modal-dialog vertical-align-center">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-hidden="true">×</button>
                                                    <div>
                                                        <div class="video-container">
                                                            <div class="myblock">
                                                                <h2>Learn More About Our Solutions</h2>
                                                                <hr>
                                                                <p>Learn about decentralized Fan Engagement.</p>
                                                                <a href="/contact"><button type="button"
                                                                        class="btn btn-primary call_to_action">Contact
                                                                        Us</button></a>
                                                            </div>
                                                            <iframe id="player" allowfullscreen="1"
                                                                allow="autoplay; encrypted-media"
                                                                title="YouTube video player" src="/player/video.html"
                                                                width="640" height="390" frameborder="0"></iframe>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        </main>
        <!-- /.main -->
    </div>
    <!-- /.content -->
    </div>
    <!-- /.wrap -->
    {{> footer}}


    <!--replace with a cdn for faster page-load-->

    <script type='text/javascript' src='/js/jquery/jquery.min.js' async="async"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script type='text/javascript' src='/js/animate.js'></script>

    <script type='text/javascript' src='/js/script.min.js'></script>


    <script type='text/javascript' defer="defer " src='/js/vendor/countUp.js'></script>
    <script type='text/javascript' src='/js/vendor/player.js' async='async'></script>
    <script type='text/javascript'>
    </script>
    <script type='/js/scripts.js?ver=5.0.3'></script>

    <script type='text/javascript' src='/js/scripts.js'></script>
    <script type='text/javascript' defer="defer " src='/js/vendor/countUp.js'></script>
    <script type='text/javascript' src='/js/vendor/player.js' async='async'></script>
    <script type='text/javascript'>
    </script>
    <script type='text/javascript' src='/js/scripts.js?ver=5.0.3'></script>


</body>

</html>l