<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="XUA-Compatible" content="IE=Edge">

    <title>The Decentralized Future of Fan Engagement | Sports dApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel='stylesheet' id='ripple_css-css' href='/css/main.css' type='text/css' media='all' />
        <link rel='stylesheet' id='ripple_css-css' href='/css/owl.carousel.min.css' type='text/css' media='all' />
              <link rel='stylesheet' id='ripple_css-css' href='/css/owl.theme.default.css' type='text/css' media='all' />
    <link rel="stylesheet" href="/css/venobox.css" type="text/css" media="all" />
        <link rel='stylesheet' id='ripple_css-css' href='/css/animate.css' type='text/css' media='all' />

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
        type='text/css' media="all" />


</head>

<body
    class="home page-template page-template-template-home page-template-template-home-php page page-id-4 txlive page-home">
    <header id="cool-nav" class="banner navbar navbar-default navbar-fixed-top initial_header" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <div class="nav_lines">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <div class="nav_x"><img class="blue_x" src="/images/x_icon_blue.svg"></div>
                    <div class="nav_x"><img class="white_x" src="/images/x_icon.svg"></div>
                </button>
                <a id="white" class="navbar-brand" href="/"><img class="img-circle" src="/images/Logo.jpg"
                        style="display: block; height:60px; width:60px;"></a>

            </div>
            <nav class="collapse navbar-collapse" style="max-height:603px;" role="navigation">
                <ul id="menu-primary-navigation" class="nav navbar-nav">
                    <li class="dropdown menu-ripplenet"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="/">Sports dApp<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-global-payments"><a href="/smart-ticketing/">Smart Ticketing</a>
                            </li>
                            <li class="menu-on-demand-liquidity"><a href="/loyalty-and-rewards/">Loyalty
                                    & Rewards</a></li>
                            <li class="menu-join-the-network"><a href="/fan-engagement/">Fan
                                    Engagement</a></li>
                            <li class="menu-join-the-network"><a href="/gamers/">Games</a></li>
                        </ul>
                    </li>
                    <li class="dropdown menu-use-cases"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="/use-cases/">Use Cases <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-overview"><a href="/overview/">Overview</a></li>
                            <li class="menu-banks"><a href="/blockchain-rewards/">Blockchain
                                    Rewards</a></li>
                            <li class="menu-payment-providers"><a href="/frictionless-payments/">Frictionless
                                    Payments</a></li>
                            <li class="menu-digital-asset-exchanges"><a
                                    href="/interorganization-data-management/">Inter-organizational
                                    Data Management</a>
                            </li>
                            <li class="menu-digital-asset-exchanges"><a href="/blockchain-and-iot/">Blockchain
                                    and IOT </a>
                            </li>
                            <li class="menu-digital-asset-exchanges"><a href="/digital-id/">Digital
                                    Id</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-resources"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="/">Resources
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-insights"><a href="/learn/">Learn</a></li>
                            <li class="menu-collateral"><a href="/insights/">Insights</a></li>
                            <li class="menu-press-center"><a href="/media-center/">Media</a></li>
                        </ul>
                    </li>

                    <li class="dropdown menu-about"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#"
                            href="/company/">About
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">

                            <li class="menu-sbi-ripple-asia"><a href="/contact">Connect with Us</a></li>

                        </ul>
                    </li>
                    <li class="menu-contact"><a href="/contact">Contact</a></li>

                </ul>
                <div id="searchForm">
                    <div class="searchWrap">
                        <form role="search" method="get" autocomplete="off" class="search-form form-inline" action="/">
                            <label class="sr-only">Search for:</label>
                            <div class="input-group">
                                <input id="search" type="search" value="" name="s" class="search-field form-control"
                                    placeholder="Search Sports dApp">
                                <span class="input-group-btn">
                                    <button id="search_submit" type="submit" class="search-submit btn btn-default"><i
                                            class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="wrap container cta_text">
        <div class="row">
            <div class="col-md-12">
                <div class="header_text_wrapper container">
                    <h2 class="leading_header_text animated fadeInUp"></h2>
                    <h1 class="header_text animated fadeInUp">Join SportsdApp</h1>
                    <h3 class="teaser_text animated2 fadeInUp">The Future of Decentralized Fan Engagement</h3>
                    <span class="videoButton"><a class="venobox btn btn btn-primary call_to_action animated3 fadeInUp"
                            id="playBtn" data-autoplay="true" data-vbtype="video"
                            title="The Decentralised Future Of Fan Engagement" preloader="three-bounce"
                            data-overlay="black" border="5px" href="https://www.youtube.com/watch?v=-qnnGU1ig9w"><i
                                class="fa fa-play" aria-hidden="true"></i> Watch the video</a></span>
                </div>
            </div>
        </div>
    </div>

    <div class="home-hero-container">
        <div class="home-hero"></div>
    </div>
    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Home </h1>
                </div>
                <section class="main-content problem-section no-padding shadow-off">
                    <div class="container">
                        <div class="wpb_wrapper">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="special-heading  default blue_heading header_title rail_title"
                                        style="padding-bottom: 30px;">
                                        <h1 class="fancy default">
                                            <span>
                                                <h2>Today's Fan Engagement doesn't Cut it</h2>
                                                <hr>
                                            </span>
                                        </h1>
                                    </div>
                                    <p>In a world where three billion people are connected online, cars
                                        drive themselves and appliances can communicate, fan engagement in the field of
                                        sports
                                        is
                                        still lurking in the stone age era. </p>
                                    <p>Why? Stadiums were built before the internet- the Aristotlean era.</p>

                                </div>

                                <div class="owl-carousel">
                                    <img src="/images/Startup-Concept.jpg"
                                        style="float:; height:75%; width:75%; border-radius: 5px; padding-bottom:30px; padding-left:50px;"
                                        alt="start-up concept">
                                        <img src="/images/Team-Working.jpg"
                                        style="float:; height:75%; width:75%; border-radius: 5px; padding-bottom:30px; padding-left:50px;"
                                        alt="Team work">
                                </div>

                            </div>
                        </div>
                    </div>
                </section>


                <section class="main-content what_is_ripple no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                            <div class="wpb_wrapper">
                                                <div class="row">

                                                    <div>
                                                        <img class="gamers" src="/images/gamers.jpeg"
                                                            style="float:left; height:50%; width:50%; border-radius: 10px; padding-right:30px; padding-left:10px;">
                                                    </div>

                                                    <div class="special-heading default blue_heading header_title ripplenet_title"
                                                        style="padding-bottom: 30px;">
                                                        <h1 class="fancy default">
                                                        </h1>
                                                        <h2>Part of the Abstract</h2>
                                                        <hr>
                                                    </div>



                                                    <div class="row why_ripple">
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <i class="fa fa-ticket fa-4x" aria-hidden="true"
                                                                style="color:#346aa9;"></i>

                                                            <div class="special-heading default">
                                                                <h5>Smart Tickets</h5>
                                                            </div>
                                                            <p>The GET Protocol offers a blockchain-based smart
                                                                ticketing solution that can be used by sports
                                                                organizations who need to issue admission tickets in
                                                                an
                                                                honest and transparent way.</p>

                                                        </div>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <i class="fa fa-gift fa-4x" aria-hidden="true"
                                                                style="color:#346aa9;"></i>


                                                            <div class="special-heading default">
                                                                <h5 class="fancy default">Rewards</h5>
                                                            </div>
                                                            <p>A blockchain<br> loyalty program presents a unique
                                                                opportunity to reward digital points or currency,
                                                                which
                                                                are easy to track and can be awarded in small
                                                                increments
                                                                for use on the application.</p>

                                                        </div>
                                                        <div class="col-md-3 col-sm-6 col-xs-12">
                                                            <i class="fa fa-gamepad fa-4x" aria-hidden="true"
                                                                style="color:#346aa9;"></i>
                                                            <div class="special-heading default">
                                                                <h5 class="fancy default">Games
                                                                </h5>
                                                            </div>
                                                            <p>The field of blockchain gaming holds
                                                                significant
                                                                potential to create revenue generating
                                                                modalities
                                                                for sports teams, specifically as a factor in a
                                                                rewards
                                                                program</p>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
    </div>

    </section>

    <section class="main-content what_is_ripple no-padding shadow-off">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">

                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                <div class="wpb_wrapper">
                                    <div class="row">

                                        <div class="col-lg isometric3">

                                            <img class="img-responsive" src="/images/Team-Working.jpg"
                                                style="float:right; height:50%; width:50%; border-radius: 10px; padding-bottom:30px;">
                                        </div>


                                        <div class="special-heading default blue_heading header_title ripplenet_title"
                                            style="padding-bottom: 30px;">
                                            <h1 class="fancy default">
                                                <h2>The Stadium as a Platform</h2>
                                            </h1>

                                            <hr>


                                            <div class="row why_ripple">
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <img alt="Smart stadiums" class="img-circle" src="/images/smart.jpg"
                                                        style="height:50%; width:50%;">
                                                    <div class="special-heading default">
                                                        <h5>Smart stadiums</h5>
                                                    </div>
                                                    <p>The first step for making <br>a stadium smarter is to
                                                        roll
                                                        out a HD Wi-Fi infrastructure<br> that supports
                                                        thousands of
                                                        users <br>across multifarious profiles and devices.
                                                    </p>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <img alt="5G" class="img-circle" src="/images/5G.jpg"
                                                        style="height:50%; width:50%;">
                                                    <div class="special-heading default">
                                                        <h5 class="fancy default">5G Technology</h5>
                                                    </div>
                                                    <p>Stadium integration solutions interface with internal
                                                        systems to manage the upkeep of necessary facilities
                                                        within the venue.
                                                        Systems are supported by the stadium’s broadband
                                                        capacity, and network coverage expands the reach of
                                                        the
                                                        platform far beyond the gate of entry.</p>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="main-content callout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row learn_more">
                        <div class="col-md-12">
                            <div class="special-heading textaligncenter default blue_heading header_title"
                                style="padding-bottom: 30px;">
                                <h2 class="fancy default">
                                    <span>
                                        <h2>Contact Us</h2>
                                        <hr>
                                    </span>
                                </h2>
                            </div>
                            <div class="text-block textaligncenter">Learn more, schedule a demo, or
                                speak
                                with a member of our team.</div>
                            <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                <div class="wpb_wrapper">
                                    <a href="/contact"><button type="button"
                                            class="btn btn-primary call_to_action">Contact
                                            Us</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </main><!-- /.main -->
    </div><!-- /.content -->
    </div><!-- /.wrap -->

    {{> footer}}
    {{> cookie-bar}}
    <!--replace with a cdn for faster page-load-->


    <script type="text/javascript " src="/js/jquery-1.9.1.min.js ">
    </script>
    <script type="text/javascript " src="/js/owl.carousel.min.js "></script>
    <script type="text/javascript " src="/js/owl.js "></script>
    <script type='text/javascript' src='/js/venobox.min.js'></script>
    <script type="text/javascript " src="/js/animate.js "></script>

    <script type="text/javascript " src="/js/scripts.min.js "></script>
    <script type="text/javascript " defer="defer " src="/js/vendor/countUp.js "></script>


</body>

</html>