<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sportsdapp Insights and news| Sportsdapp </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="/images/favicon.jpg">
	<link rel="stylesheet" href="/css/main.css" type="text/css" media="all">
	<link rel="stylesheet" href="/css/css.css" type="text/css" media="all">
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awsome/4.6.3/css/font-awsome.min.css'
		type='text/css' media="all" />
	<style>
		@media only screen and (min-width: 0px) and (max-width: 498px) {
			.contact_btn {
				float: left;
				padding-left: 40px;
			}

			.learn_btn {
				float: left;
				padding-left: 35px;
			}

		}
	</style>
</head>

<body
	class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">
	{{> navbar}}

	<div class="wrap" role="document">
		<div class="content">

			<main class="main_content jumbotron" role="main">
				<div class="page-header">
					<h1>Insights </h1>
				</div>

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
						<div class="articles-container">
							<article class="post-17959 post type-post status-publish format-standard hentry category-insights">

								<header>

									<div class="time-published-wrapper"><time class="published"
											datetime="2019-04-25T17:00:41+00:00">{{createdAt}}</time></div>
									<h2 class="entry-title"><a>{{ftitle}}</a></h2>
									<div class="feature_meta">
										<div class="entry-meta-left">
											<span class='read-time'>2 min&nbsp;read</span><span>&nbsp;•&nbsp;</span><span
												class="byline author vcard">{{author}}</span>

											{{body}}
										</div>
									</div>
								</header>
							</article>
						</div>
			</main>
			<!-- /.main -->
		</div>
		<!-- /.content -->
	</div>
	<!-- /.wrap -->
	{{> footer}}

	<!--replace with a cdn for faster page-load-->

	<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>

	<script type='text/javascript' src='/js/scripts.min.js'></script>
	<script type='text/javascript' defer="defer " src='/js/vendor/countUp.js'></script>
	<script type='text/javascript' src='/js/vendor/player.js' async='async'></script>


</body>

</html>