<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Interorganization Data Management|Availbility,accessibility and Security of Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <link rel="stylesheet" id="ripple_css-css" href="/css/main.css" type="text/css" media="all" />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'
        type='text/css' media="all" />
    <style>
        @media only screen and (min-width: 0px) and (max-width: 498px) {
            .contact_btn {
                float: left;
                padding-left: 25px;
            }

            .learn_btn {
                float: left;
                padding-left: 25px;
            }

        }
    </style>

</head>


<body
    class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">

    {{> navbar}}

    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">

                <section class="main-content solutions_wrapper no-padding shadow-off" style="padding-top:50px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Blockchain Data</h2>
                                                </span>
                                            </h2>
                                        </div>
                                        <hr>
                                        <div class="textaligncenter default">
                                            <i class="fa fa-database fa-5x " style="color:#346aa9;"
                                                aria-hidden="true"></i>
                                                  <i class="fa fa-key fa-5x " style="color:#346aa9; display:inline;"
                                                aria-hidden="true"></i>


                                        </div>
                                        <div class="text_block">

                                            <p class="intro textaligncenter">
                                                Blockchain technology allows data Integrity among users(peers) on the Blockchain Network.<br>
                                                The C.I.A triad is highly maintained- Confidentiality, Integrity and Authenticity of access and Manipulation of Data.<br>
                                                Transctions made  are chained together in a chronological order of their creation and encrypted using cryptography.<br>
                                                 Threrefore any fraudlent alterations on blockchain data are  impossible.
                                                  Find out more about our Interorganization data Management and Blockchain Data
                                                from our  <a href="/learn/">Whitepaper</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                </section>

                {{> bottom_section}}

            </main>
            <!-- /.main -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.wrap -->
    {{> footer}}



    <!--replace with a cdn for faster page-load-->
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type='text/javascript' src='/js/scripts.min.js'></script>
    <script type='text/javascript' defer="defer " src='/js/countUp.js'></script>


</body>

</html>