<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Join SportsDapp-|Discover the Future of Decentralised Fan Engagement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" id="ripple_css-css" href="/css/main.css" type="text/css" media="all">
    <link rel="stylesheet" id="google-hind-css" href="/css/css.css" type="text/css" media="all">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awsome/4.6.3/css/font-awsome.min.css'
        type='text/css' media="all" />
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script>
        window.jQuery || document.write(
            '<script async="async" src="/js/jquery/jquery.min.js?1.11.1"><\/script>'
        )
    </script>
</head>

<body
    class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">
    {{> navbar}}
    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Join the Network </h1>
                </div>

                <section class="main-content no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blank_divider" style="height: 20px;"></div>
                                <div class="blank_divider" style="height: 20px;"></div>
                                <div class="blank_divider" style="height: 20px;"></div>
                                <div class="special-heading textaligncenter default blue_heading header_title"
                                    style="padding-bottom: 0px;">
                                    <h2 class="fancy default"><span>
                                            <h2>Find Sports dApp on social media</h2>
                                            <hr>
                                        </span></h2>
                                </div>
                                <div class="row impact" style="margin-left:60px;">
                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="textaligncenter default">
                                            <i class="fa fa-youtube fa-4x " style="color:#b90404;" aria-hidden="true"></i>


                                        
                                        <div class="special-heading textalignleft default">
                                            <div class="special-heading textaligncenter default">
                                            <a href="https://www.youtube.com/sportsdapp">YouTube</a>
                                        </div>
                                        

                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="textaligncenter default">
                                            <i class="fa fa-instagram fa-4x" style="color:#346aa9;"
                                                aria-hidden="true"></i>


                                        </div>
                                        <div class="special-heading textaligncenter default">
                                            <a href="https://www.instagram.com/sports.dapp">Instagram</a>
                                        </div>

                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <div class="textaligncenter default">
                                            <i class="fa fa-facebook fa-4x" style="color:#346aa9;"
                                                aria-hidden="true"></i>


                                        </div>

                                        <div class="special-heading textaligncenter default">
                                            <a href="https://www.facebook.com/sports.dapp">Facebook</a>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </section>
                <section class="main-content bottom-callout no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="special-heading textaligncenter default blue_heading header_title"
                                    style="padding-bottom: 30px;">
                                    <h2 class="fancy default"><span>
                                            <h2>Join SportsDapp</h2>
                                            <hr>
                                        </span></h2>
                                </div>
                                <p class="textaligncenter">Learn more, schedule a demo or speak with a member of our
                                    team.
                                </p> <a href="/contact"><button type="button"
                                        class="btn btn-primary call_to_action">Contact Us</button></a>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!-- /.main -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.wrap -->
    {{> footer}}


    <!--replace with a cdn for faster page-load-->
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type='text/javascript' src='/js/scripts.min.js'></script>
    <script type='text/javascript' defer="defer " src='/js/vendor/countUp.js'></script>
</body>

</html>