<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Join SportsDapp-|Discover the Future of Decentralised Fan Engagement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/rules-p-fA2PwTuYutw4z.js" async=""></script>
    <script type="text/javascript" id="www-widgetapi-script" src="/js/www-widgetapi.js" async=""></script>
    <script src="/js/iframe_api.js"></script>
    <script async="" id="demandbase_js_lib" src="/js/25addc82.js"></script>
    <script src="/js/quant.js" async="" type="text/javascript"></script>
    <link rel="dns-prefetch" href="https://ajax.googleapis.com/">
    <link rel="dns-prefetch" href="https://script.crazyegg.com/">
    <link rel="dns-prefetch" href="https://cdn.ripple.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/">
    <link rel="dns-prefetch" href="https://s.w.org/">
    <link rel="stylesheet" id="ripple_css-css" href="/css/main.css" type="text/css" media="all">
    <link rel="stylesheet" id="google-hind-css" href="/css/css.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="/css/font-awesome.css" type="text/css" media="all">
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script>
        window.jQuery || document.write(
            '<script async="async" src="/js/jquery/jquery.min.js?1.11.1"><\/script>'
        )
    </script>
</head>

<body class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">
    {{> navbar}}
    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Join the Network </h1>
                </div>

                <section class="main-content no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="blank_divider" style="height: 20px;"></div>
                                <div class="blank_divider" style="height: 20px;"></div>
                                <div class="blank_divider" style="height: 20px;"></div>
                                <div class="special-heading textaligncenter default blue_heading header_title" style="padding-bottom: 0px;">
                                    <h2 class="fancy default"><span>
                                            <h2>How to Join SportsDapp</h2>
                                            <hr>
                                        </span></h2>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12"> &nbsp;</div>
                                    </div>
                                    <div class="row access-lists hidden-xs hidden-sm">
                                        <div class="col-sm-2 col-md-2 col-lg-2"></div>
                                        <div class="col-sm-8 col-md-8 col-lg-8">
                                            <div class="row header-border">
                                                <div class="col-sm-6 col-md-6 col-lg-6">
                                                    <h2 class="title"><span class="icon standard-icon"></span>Standard Access
                                                    </h2>
                                                    <p> Seamlessly initiate a payment to any entity on RippleNet with a standardized interface through <a href="https://ripple.com/solutions/send-payments/">sportsdapp</a>
                                                    </p>

                                                </div>
                                                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                                            </div>
                                            <div class="row access-lists ">
                                                <div class="col-sm-2 col-md-2 col-lg-2">&nbsp;</div>
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="hidden-md hidden-lg">
                                                        <h2 class="title"><span class="icon standard-icon"></span>Standard Access
                                                        </h2>
                                                        <p> Seamlessly initiate a payment to any entity on RippleNet with a standardized interface through xVia</p>
                                                    </div>
                                                    <ul class="standard-list">
                                                        <li>Easily send payments through RippleNet with standard API connectivity
                                                        </li>
                                                        <li>Reduce reconciliation issues by including rich payment data</li>
                                                        <li>Receive guaranteed transaction fees prior to sending a payment</li>
                                                        <li>Gain end-to-end transparency into payment status</li>
                                                        <li>Remove risk with real-time settlement</li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4 col-md-4 col-lg-4">
                                                    <div class="hidden-md hidden-lg">
                                                        <h2 class="title"><span class="icon full-icon"></span>Full Access</h2>
                                                        <p> Process frictionless payments on RippleNet for your own institution or others through xCurrent</p>
                                                    </div>
                                                    <ul class="full-list">
                                                        <li>Contribute to a single rulebook, enabling a standardized payments network
                                                        </li>
                                                        <li>Easily send and receive payments through RippleNet with standard API connectivity
                                                        </li>
                                                        <li>Send and receive rich information with any payment</li>
                                                        <li>Receive and provide guaranteed transaction fees, and provide FX liquidity for payments</li>
                                                        <li>Gain end-to-end transparency into the payment status</li>
                                                        <li>Remove risk with real-time settlement</li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-2 col-md-2 col-lg-2">&nbsp;</div>
                                            </div>

                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                    </div>
                                </div>
                            </div>
                </section>
                <section class="main-content bottom-callout no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="special-heading textaligncenter default blue_heading header_title" style="padding-bottom: 30px;">
                                    <h2 class="fancy default"><span>
                                            <h2>Join SportsDapp</h2>
                                            <hr>
                                        </span></h2>
                                </div>
                                <p class="textaligncenter">Learn more, schedule a demo or speak with a member of our team.
                                </p> <a href="/contact"><button type="button"
                                        class="btn btn-primary call_to_action">Contact Us</button></a>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!-- /.main -->
            </div>
            <!-- /.content -->
            </div>
            <!-- /.wrap -->
          {{> footer}}


            <!--replace with a cdn for faster page-load-->

            <script type='text/javascript' src='/js/script.min.js'></script>
            <script type='text/javascript' defer="defer " src='/js/vendor/countUp.js'></script>
            <script type='text/javascript' src='/js/vendor/player.js' async='async'></script>
            <script type='text/javascript'>
            </script>
            <script type='/js/scripts.js?ver=5.0.3'></script>

            <script type='text/javascript' src='/js/scripts.js'></script>
            <script type='text/javascript' defer="defer " src='/js/vendor/countUp.js'></script>
            <script type='text/javascript' src='/js/vendor/player.js' async='async'></script>
            <script type='text/javascript'>
            </script>
            <script type='text/javascript' src='/js/scripts.js?ver=5.0.3'></script>


</body>

</html>