<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ticketing- |Smart Ticketing|How it works|SportsDapp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/rules-p-fA2PwTuYutw4z.js" async=""></script>
    <script type="text/javascript" id="www-widgetapi-script" src="js/www-widgetapi.js" async=""></script>
    <script src="js/iframe_api.js"></script>
    <script async="" id="demandbase_js_lib" src="images/25addc82.js"></script>
    <script src="js/quant.js" async="" type="text/javascript"></script>
    <link rel="dns-prefetch" href="https://ajax.googleapis.com/">
    <link rel="dns-prefetch" href="https://script.crazyegg.com/">
    <link rel="dns-prefetch" href="https://cdn.ripple.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://maxcdn.bootstrapcdn.com/">
    <link rel="dns-prefetch" href="https://s.w.org/">
    <link rel="stylesheet" id="ripple_css-css" href="css/main.css" type="text/css" media="all">
    <link rel="stylesheet" id="google-hind-css" href="css/css.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="css/font-awesome.css" type="text/css" media="all">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script>
        window.jQuery || document.write(
            '<script async="async" src="js/jquery/jquery.min.js?1.11.1"><\/script>'
        )
    </script>
</head>

<body
    class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">

    <header class="banner navbar navbar-default navbar-fixed-top initial_header" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <div class="nav_lines">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
                    <div class="nav_x"><img class="blue_x" src="images/x_icon_blue.svg"></div>
                    <div class="nav_x"><img class="white_x" src="images/x_icon.svg"></div>
                </button>
                <a class="navbar-brand" href="sportsdapp.com"><img class="logo" src="images/Logo.jpg"></a>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
                <ul id="menu-primary-navigation" class="nav navbar-nav">
                    <li class="dropdown menu-ripplenet"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="https://sportsDapp.com/ripplenet/">SportsDapp
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-global-payments"><a href="https://sportsDapp.com">Smart Ticketing</a>
                            </li>
                            <li class="menu-on-demand-liquidity"><a
                                    href="https://sportsDapp.com/on-demand-liquidity/">Loyalty
                                    & Rewards</a></li>
                            <li class="menu-join-the-network"><a href="https://sportsDapp.com/fan-enagement/">Fan
                                    Engagement</a></li>
                            <li class="menu-join-the-network"><a href="https://sportsDapp.com/games/">Games</a></li>
                            <li class="menu-join-the-network"><a href="https://sportsDapp.com/road-map/">Road Map</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-use-cases"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="https://sportsDapp.com/use-cases/">Use
                            Cases <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-overview"><a href="https://sportsDapp.com/use-cases/">Overview</a></li>
                            <li class="menu-banks"><a
                                    href="https://sportsDapp.com/use-cases/blockchain-rewards/">Blockchain
                                    Rewards</a></li>
                            <li class="menu-payment-providers"><a
                                    href="https://sportsDapp.com/use-cases/frictionless-payments/">Frictionless
                                    Payment</a></li>
                            <li class="menu-digital-asset-exchanges"><a
                                    href="https://sportsDapp.com/use-cases/digital-id/">Inter-organizational
                                    Data Management</a>
                            </li>
                            <li class="menu-digital-asset-exchanges"><a
                                    href="https://sportsDapp.com/use-cases/blockchain-and-iot/">Blockchain
                                    and IOT </a>
                            </li>
                            <li class="menu-digital-asset-exchanges"><a
                                    href="https://sportsDapp.com/use-cases/digital-id/">Digital
                                    Id</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown menu-resources"><a class="dropdown-toggle" data-toggle="dropdown"
                            data-target="#" href="https://sportsDapp.com/collateral/">Resources
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-insights"><a href="https://sportsDapp.com/learn/">Learn</a></li>
                            <li class="menu-collateral"><a href="https://sportsDapp.com/insights/">Insights</a></li>
                            <li class="menu-press-center"><a href="https://sportsDapp.com/press-center/">Media</a></li>
                        </ul>
                    </li>
                    <li class="dropdown menu-about"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#"
                            href="https://sportsDapp.com/company/">About
                            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="menu-our-company"><a href="https://sportsDapp.com/company/">Roster</a></li>
                            <li class="menu-careers"><a href="https://sportsDapp.com/company/careers/">Company</a></li>
                            <li class="menu-sbi-ripple-asia"><a href="https://sportsDapp.com/join/">Join
                                    The Team</a></li>
                            <li class="menu-ripple-for-good"><a
                                    href="https://sportsDapp.com/ripple-for-good/">Advisors</a></li>
                        </ul>
                    </li>
                    <li class="menu-contact"><a href="https://sportsDapp.com/contact/">Contact</a></li>
                </ul>
                <div id="searchForm">
                    <div class="searchWrap">
                        <form role="search" method="get" autocomplete="off" class="search-form form-inline"
                            action="https://sportsDapp.com/">
                            <label class="sr-only">Search for:</label>
                            <div class="input-group">
                                <input id="search" type="search" value="" name="s" class="search-field form-control"
                                    placeholder="Search SportsDapp">
                                <span class="input-group-btn">
                                    <button id="search_submit" type="submit" class="search-submit btn btn-default"><i
                                            class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="wrap container cta_text">
        <div class="row">
            <div class="col-md-12">
                <div class="header_text_wrapper container">
                    <h2 class="leading_header_text animated fadeInUp"></h2>
                    <h1 class="header_text animated fadeInUp">Get Protocol</h1>
                    <h3 class="teaser_text animated2 fadeInUp">Frictionless Ticket Experience</h3><span
                        class="videoButton"><a id="trigger" href="#"
                            class="btn btn btn-primary call_to_action animated3 fadeInUp" data-toggle="modal"
                            data-target="#videoModal" data-theVideo="https://www.youtube.com/watch?v=dl4OzGHNaGk"><i
                                class="fa fa-play" aria-hidden="true"></i>
                            How it Works</a></span>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="hero-container">
        <div class="hero" style="background-position: center; background-image: url(images/blockchain.jpg);"></div>
    </div>
    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Smart Ticketing </h1>
                </div>

                <section class="main-content solutions_wrapper no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>

                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Smart Tickets on Blockchain</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>

                                        <div class="text_block">
                                            <svg class="shield">
                                                <use xlink:href="images/sprite.svg#shield" class="shield"></use>
                                            </svg>
                                            <p class="intro textaligncenter">
                                                Shield your clients from malicious third parties
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="text_block">
                                            <svg class="shield">
                                                <use xlink:href="images/sprite.svg#shield" class="shield"></use>
                                            </svg>
                                            <p class="intro textaligncenter">
                                                Honest ticketing on a global scale
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="text_block">
                                            <svg class="shield">
                                                <use xlink:href="images/sprite.svg#lock" class="shield"></use>
                                            </svg>

                                            <p class="intro textaligncenter">
                                                Locked and traceable on a publicly distributed ledger
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="text_block">
                                            <svg class="shield">
                                                <use xlink:href="images/sprite.svg#tick" class="tick"></use>
                                            </svg>
                                            <p class="intro textaligncenter">
                                                Guarantee the authenticity of your ticket
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>

                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Control Primary & Secondary Ticket Market</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>


                                        <div class="text_block">
                                        
                                            <p class="intro textaligncenter">
                                                There is no way of interacting with smart tickets outside of our blockchain ecosystem. Dictate all the rules of the ticketing marketplace.<br> Event organizers get a cut of every resale of a ticket on the in-app secondary marketplace. 
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="text_block">



                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Secure & Transparent</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>

                                        <div class="row impact">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <img class="why_icn img-responsive" src="images/icn_banks_1.png">
                                                <div class="special-heading textaligncenter default">
                                                    <h5>subheading</h5>
                                                </div>
                                                <p>A paragraph of explanations</p>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <img class="why_icn img-responsive" src="images/icn_banks_2.png">
                                                <div class="special-heading textaligncenter default">
                                                    <h5>Sub heading</h5>
                                                </div>
                                                <p>a paragraph of explanations</p>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <img class="why_icn img-responsive" src="images/icn_banks_3.png">
                                                <div class="special-heading textaligncenter default">
                                                    <h5>Subheading</h5>
                                                </div>
                                                <p>explanations</p>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <img class="why_icn img-responsive" src="images/icn_banks_4.png">
                                                <div class="special-heading textaligncenter default">
                                                    <h5>Another subheading</h5>
                                                </div>
                                                <p>Explanations</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Plug & Play SDK</h2>
                                                </span>
                                            </h2>
                                        </div>
                                        <hr>
                                    </div>
                                </div>


                                <div class="row">

                                    <div class="col-md-6">

                                        <div class="special-heading textaligncenter default"
                                            style="padding-bottom: 0px;">
                                            <h5 class="fancy default"><span>Subsection</span></h5>
                                        </div>
                                        <img src="images/cd2x.png" class="cross-currency_img">
                                        <p>
                                            explanations.</p>



                                    </div>

                                    <div class="col-md-6">

                                        <div class="special-heading textaligncenter default"
                                            style="padding-bottom: 0px;">
                                            <h5 class="fancy default"><span>Another Subsection</span></h5>
                                        </div>
                                        <img src="images/rr2x.png" class="cross-currency_img">
                                        <p>
                                            even explanations</p>




                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="blank_divider" style="height: 20px;"></div>
                                            <div class="blank_divider" style="height: 20px;"></div>

                                            <div class="special-heading textaligncenter default blue_heading header_title"
                                                style="padding-bottom: 30px;">
                                                <h2 class="fancy default"><span>
                                                        <h2>Protect Your Fans</h2>
                                                        <hr>
                                                    </span>
                                                </h2>
                                            </div>

                                            <div class="text_block">
                                                <p class="intro textaligncenter">Explanations
                                                </p>
                                            </div>
                                            <div class="blank_divider" style="height: 20px;"></div>
                                            <div class="blank_divider" style="height: 20px;"></div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="main-content bottom-callout no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row learn_more">
                                    <div class="col-md-12">

                                        <div class="special-heading textalignright default blue_heading header_title"
                                            style="padding-bottom: 0px; float: left;">
                                            <h2 class="fancy default"><span>

                                                    <h2>Learn More</h2>
                                                    <hr>
                                                </span>
                                            </h2>

                                            <a href="/learn"><button type="button"
                                                    class="btn btn-primary call_to_action " style="float: left;">Learn
                                                    More
                                                </button></a>
                                        </div>
                                        <div class="special-heading textalignleft default blue_heading header_title"
                                            style="padding-bottom: 0px; float: right;">
                                            <h2 class="fancy default"><span>

                                                    <h2>Contact Us</h2>
                                                    <hr>
                                                </span>
                                            </h2>

                                            <a href="/learn"><button type="button"
                                                    class="btn btn-primary call_to_action" style="float: right;">Contact
                                                    Us
                                                </button></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </main>
            <!-- /.main -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.wrap -->
    {{> footer}}

    {{> cookie-bar}}

    <!--replace with a cdn for faster page-load-->

    <script type='text/javascript' src='js/script.min.js'></script>
    <script type='text/javascript' defer="defer " src='js/vendor/countUp.min.js'></script>
    <script type='text/javascript' src='js/vendor/player.js' async='async'></script>
    <script type='text/javascript'>
    </script>
    <script type='js/scripts.js?ver=5.0.3'></script>

    <script type='text/javascript' src='js/scripts.js'></script>
    <script type='text/javascript' defer="defer " src='js/vendor/countUp.min.js'></script>
    <script type='text/javascript' src='js/vendor/player.js' async='async'></script>
    <script type='text/javascript'>
    </script>
    <script type='text/javascript' src='js/scripts.js?ver=5.0.3'></script>


</body>

</html>