<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Blockchain Loyalty and Rewards- |How it works|Sports dApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" id="ripple_css-css" href="/css/main.css" type="text/css" media="all">
    <link rel="stylesheet" href="/css/venobox.css" type="text/css" media="screen" />
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awsome/4.7.0/css/font-awsome.min.css'
        type='text/css' media="all" />
</head>

<body
    class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">

    {{> navbar}}
    <div class="wrap container cta_text">
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="header_text_wrapper container">
                        <h2 class="leading_header_text animated fadeInUp"></h2>
                        <h1 class="header_text animated fadeInUp">Innovative Reward System</h1>

                        <h3 class="teaser_text animated2 fadeInUp">See How</h3><span class="videoButton"><a id="trigger"
                                href="#" class="btn btn btn-primary call_to_action animated3 fadeInUp"
                                data-toggle="modal" data-target="#videoModal" data-thevideo="">Watch
                                The Video</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-container">
        <div class="hero" style="background-position: center; background-image: url(/images/tokens.jpg);"></div>
    </div>
    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Blockchain Loyalty and Rewards </h1>
                </div>

                <section class="main-content solutions_wrapper no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>

                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Crypto Tokens</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>

                                        <p>CryptoTokens are a decentralized currency where the value is principally
                                            dependent on market forces.<br> The token is actively traded on a digital
                                            exchange, and just like trading shares, the value increases when demand
                                            exceeds the supply.</p>
                                        <p> While E-Points restrict use to their own ecosystem,<br>
                                            CryptoTokens can be earned and redeemed at participating retailers allowing
                                            for greater liquidity.</p>


                                        <div class="col-md-12">

                                            <div class="special-heading textaligncenter default"
                                                style="padding-bottom: 0px;">
                                                <div class="textaligncenter default">
                                                    <i class="fa fa-gift fa-4x" aria-hidden="true"
                                                        style="color:#346aa9;"></i>
                                                </div>
                                                <h3 class="fancy default"><span>Loyalty & Rewards</span></h3>
                                            </div>
                                            <img src="" class="cross-currency_img">
                                            <p>Loyalty and rewards programs are not reaching their full potential due to
                                                account inactivity, low redemption rates, time delays, high system
                                                management and customer acquisition costs, and low client retention.
                                            </p>
                                            <hr>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="main-content callout">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row learn_more">
                                    <div class="col-md-12">
                                        <div class="special-heading  blue_heading header_title"
                                            style="padding-bottom: 30px; float:left;">
                                            <h2 class="fancy default">
                                                <span>
                                                    <h2 style="display: inline-block">How it works</h2>

                                                </span>
                                            </h2>
                                            <img alt="5G" class="Loyalty and rewards" src="/images/STORE.jpg"
                                                style=" float:right; border-radius:5px; height:50%; width:50%;">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="main-content callout">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row learn_more">
                                    <div class="col-md-12">
                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default">
                                                <span>
                                                    <h2>Learn More</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>

                                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                            <div class="wpb_wrapper text-block textaligncenter"
                                                style="float:justify; padding-bottom:30px;">
                                                <a href="/learn"><button type="button"
                                                        class="btn btn-primary call_to_action">Learn
                                                        More</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <hr>
                <section class="main-content callout">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row learn_more">
                                    <div class="col-md-12">
                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default">
                                                <span>
                                                    <h2>Connect with Us</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>
                                        <div class="text-block textaligncenter">
                                            <p>Learn more, schedule a demo, or
                                                speak
                                                with a member of our team.</p>
                                        </div>
                                        <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                                            <div class="wpb_wrapper text-block textaligncenter"
                                                style="float:justify; padding-bottom:30px;">
                                                <a href="/contact"><button type="button"
                                                        class="btn btn-primary call_to_action">Connect
                                                        with
                                                        Us</button></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
            <!-- /.main -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.wrap -->

    {{> footer}}

    <!--replace with a cdn for faster page-load-->
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type='text/javascript'  src='/js/venobox.min.js'></script>
    <script type='text/javascript'  src='/js/scripts.min.js'></script>
    <script type='text/javascript'  src='/js/vendor/countUp.js'></script>
 
</body>

</html>