  <header class="banner navbar navbar-default navbar-fixed-top initial_header" role="banner">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <div class="nav_lines">
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
        </div>
        <div class="nav_x"><img class="blue_x" src="https://ripple.com/wp-content/themes/ripple-beta/assets/img/x_icon_blue.svg"></div>
        <div class="nav_x"><img class="white_x" src="https://ripple.com/wp-content/themes/ripple-beta/assets/img/x_icon.svg"></div>
      </button>
      <a class="navbar-brand" href="https://ripple.com/"><img class="logo initial_logo" src="https://ripple.com/wp-content/themes/ripple-beta/assets/img/logo/ripple-logo-white.png"></a><a class="navbar-brand" href="https://ripple.com/"><img class="logo logo_scrolled" src="https://ripple.com/wp-content/themes/ripple-beta/assets/img/logo/ripple-logo-color.png"></a>    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul id="menu-primary-navigation" class="nav navbar-nav"><li class="dropdown menu-ripplenet"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="https://ripple.com/ripplenet/">RippleNet <b class="caret"></b></a>
<ul class="dropdown-menu">
	<li class="menu-global-payments"><a href="https://ripple.com/ripplenet/">Global Payments</a></li>
	<li class="menu-on-demand-liquidity"><a href="https://ripple.com/ripplenet/on-demand-liquidity/">On-Demand Liquidity</a></li>
	<li class="menu-join-the-network"><a href="https://ripple.com/ripplenet/join-the-network/">Join the Network</a></li>
</ul>
</li>
<li class="dropdown menu-use-cases"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="https://ripple.com/use-cases/">Use Cases <b class="caret"></b></a>
<ul class="dropdown-menu">
	<li class="menu-overview"><a href="https://ripple.com/use-cases/">Overview</a></li>
	<li class="menu-banks"><a href="https://ripple.com/use-cases/banks/">Banks</a></li>
	<li class="menu-payment-providers"><a href="https://ripple.com/use-cases/payment-providers/">Payment Providers</a></li>
	<li class="menu-digital-asset-exchanges"><a href="https://ripple.com/use-cases/digital-asset-exchanges/">Digital Asset Exchanges</a></li>
</ul>
</li>
<li class="dropdown menu-xrp"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="https://ripple.com/xrp/">XRP <b class="caret"></b></a>
<ul class="dropdown-menu">
	<li class="menu-overview"><a href="https://ripple.com/xrp/">Overview</a></li>
	<li class="menu-market-performance"><a href="https://ripple.com/xrp/market-performance/">Market Performance</a></li>
	<li class="menu-xrp-buying-guide"><a href="https://ripple.com/xrp/buy-xrp/">XRP Buying Guide</a></li>
	<li class="menu-resources"><a href="/collateral/#xrp">Resources</a></li>
</ul>
</li>
<li class="dropdown menu-resources"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="https://ripple.com/collateral/">Resources <b class="caret"></b></a>
<ul class="dropdown-menu">
	<li class="menu-insights"><a href="https://ripple.com/insights/">Insights</a></li>
	<li class="menu-collateral"><a href="https://ripple.com/collateral/">Collateral</a></li>
	<li class="menu-press-center"><a href="https://ripple.com/press-center/">Press Center</a></li>
</ul>
</li>
<li class="dropdown menu-about"><a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="https://ripple.com/company/">About <b class="caret"></b></a>
<ul class="dropdown-menu">
	<li class="menu-our-company"><a href="https://ripple.com/company/">Our Company</a></li>
	<li class="menu-careers"><a href="https://ripple.com/company/careers/">Careers</a></li>
	<li class="menu-sbi-ripple-asia"><a href="https://ripple.com/sbi-ripple-asia/">SBI Ripple Asia</a></li>
	<li class="menu-ripple-for-good"><a href="https://ripple.com/ripple-for-good/">Ripple for Good</a></li>
</ul>
</li>
<li class="menu-contact"><a href="https://ripple.com/contact/">Contact</a></li>
</ul>      <div id="searchForm"><div class="searchWrap">
	<form role="search" method="get" autocomplete="off" class="search-form form-inline" action="https://ripple.com/">
	  <label class="sr-only">Search for:</label>
	  <div class="input-group">
	    <input id="search" type="search" value="" name="s" class="search-field form-control" placeholder="Search Ripple">
	    <span class="input-group-btn">
	      <button id="search_submit" type="submit" class="search-submit btn btn-default"><i class="fa fa-search"></i></button>
	    </span>
	  </div>
	</form>
</div>
</div>
    </nav>
  </div>
	</header>