<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>overview-|The Future of Decentralised Fan Engagement</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" id="ripple_css-css" href="/css/main.css" type="text/css" media="all" />
     <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css'
        type='text/css' media="all" />
    <style>
        @media only screen and (min-width: 0px) and (max-width: 498px) {
            .contact_btn {
                float: left;
                padding-left: 40px;
            }

            .learn_btn {
                float: left;
                padding-left: 35px;
            }

        }
    </style>

</head>

<body
    class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">
    {{> navbar}}

    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Overview</h1>
                </div>

                <section class="main-content solutions_wrapper no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>

                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px; padding-top:30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Blockchain loyalty and Rewards</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="textaligncenter default">
                                            <i class="fa fa-gift fa-4x " style="color:#346aa9;"
                                                aria-hidden="true"></i>
                                        </div>

                                    </div>

                                    <div class="text_block">

                                        <p class="intro textaligncenter">
                                            Earn redeemable points on each an every transaction upon registration.<br>
                                           Users are imediately enrolled upon  registration and verification of their data. Find out more about our loyalty and reward system
                                            from our <a href="/learn/">Whitepaper</a>
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Smart Tickets on Blockchain, fast &secure</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>

                                        <div class="textaligncenter default">
                                            <i class="fa fa-ticket fa-4x " style="color:#346aa9;"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="text_block">

                                            <p class="intro textaligncenter">
                                                There is no way of interacting with smart tickets outside of our
                                                blockchain ecosystem. Dictate all the rules of the ticketing
                                                marketplace.<br> Event organizers get a cut of every resale of a ticket
                                                on the
                                                in-app secondary marketplace.
                                            </p>
                                        </div>
                                        <div class="text_block">
                                            <p class="intro textaligncenter">Smart Tickets on Blockchain Based on GET
                                                protocol which is secure fast and fool-proof. Read the Documentation at
                                                <a href="https://docs.guts.tickets">GET Protocol Documetation</a>
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">

                                            <h2 class="fancy default"><span>
                                                    <h2>Games</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>

                                        <div class="row impact">

                                            <div class="textaligncenter default">
                                                <i class="fa fa-gamepad fa-4x " style="color:#346aa9;"
                                                    aria-hidden="true"></i>
                                            </div>
                                            <div class="special-heading textaligncenter default">
                                                <h5>Interactive Games</h5>
                                            </div>
                                            <p>Customize Avatars, Earn Upgrades, Buy Skins. And a lot of other cool
                                                stuff!</p>
                                            <p>Learn about the budding field of blockchain Gaming. How Blockchain gaming
                                                is revolutionizing<br>
                                                the field of gaming</p>

                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Inter Organization Data Management</h2>
                                                </span>
                                            </h2>
                                        </div>
                                        <hr>
                                    </div>
                                </div>


                                <div class="row-impact">
                                    <div class="textaligncenter default">
                                        <i class="fa fa-database fa-4x " style="color:#346aa9;" aria-hidden="true"></i>
                                    </div>
                                    <div class="special-heading textaligncenter default" style="padding-bottom: 0px;">
                                        <h5 class="fancy default"><span>BlocKchain Data</span></h5>
                                    </div>


                                    <div class="text_block">

                                        <p class="textaligncenter">Read about the paradigm shift in big data and
                                            machine learning. Learn more
                                            from our <a href="/learn/"> Whitepaper</a> </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>

                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">

                                            <h2 class="fancy default"><span>
                                                    <h2>Frictionless, fast and Reliable Payments on Blockchain</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>
                                        <div class="textaligncenter default">
                                            <i class="fa fa-credit-card fa-4x " style="color:#346aa9;"
                                                aria-hidden="true"></i>
                                        </div>
                                        <div class="text_block">
                                            <p class="intro textaligncenter">Secure, fast and Reliable payments on
                                                Blockchain. Learn more from our <a href="/learn/">Whitepaper</a>
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="main-content bottom-callout no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row learn_more">
                                    <div class="col-md-12">
                                        <div class="contact_btn">
                                            <div class="special-heading textalignright default blue_heading header_title"
                                                style="padding-bottom: 0px; float: left;">
                                                <h2 class="fancy default"><span>

                                                        <h2>Learn More</h2>
                                                        <hr>
                                                    </span>
                                                </h2>

                                                <a href="/learn/"><button type="button"
                                                        class="btn btn-primary call_to_action "
                                                        style="float: left;">Learn
                                                        More
                                                    </button></a>
                                            </div>
                                        </div>
                                        <div class="contact_btn">
                                            <div class="special-heading textalignleft default blue_heading header_title"
                                                style="padding-bottom: 0px; float: right;">
                                                <h2 class="fancy default"><span>

                                                        <h2>Contact Us</h2>
                                                        <hr>
                                                    </span>
                                                </h2>

                                                <a href="/contact"><button type="button"
                                                        class="btn btn-primary call_to_action"
                                                        style="float: right;">Contact
                                                        Us
                                                    </button></a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </main>
            <!-- /.main -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.wrap -->
    {{> footer}}

    <!--replace with a cdn for faster page-load-->

    <script type='text/javascript' src='/js/jquery/jquery.min.js'></script>
    <script type='text/javascript' src='/js/scripts.min.js'></script>
    <script type='text/javascript' src='/js/vendor/countUp.js'></script>


</body>

</html>