<!DOCTYPE html>
<html class="no-js" lang="en-US">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>verview-|Frictionless Payments- |Secure, Fast and Reliable|How it works</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" id="ripple_css-css" href="/css/main.css" type="text/css" media="all">
    <link rel="stylesheet" id="google-hind-css" href="/css/css.css" type="text/css" media="all">
    <link rel="stylesheet" id="font-awesome-css" href="/css/font-awesome.css" type="text/css" media="all">


</head>

<body
    class="page-template page-template-template-full-width page-template-template-full-width-php page page-id-14808 page-child parent-pageid-14807 page-banks">
    {{> navbar}}

    <div class="wrap" role="document">
        <div class="content">

            <main class="main_content jumbotron" role="main">
                <div class="page-header">
                    <h1>
                        Overview</h1>
                </div>

                <section class="main-content solutions_wrapper no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>

                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Blockchain Rewards</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>

                                        <div class="text_block">
                                            <svg class="shield">
                                                <use xlink:href="/images/sprite.svg#shield" class="shield"></use>
                                            </svg>
                                            <p class="intro textaligncenter">
                                                Shield your clients from malicious third parties
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="text_block">
                                            <svg class="shield">
                                                <use xlink:href="/images/sprite.svg#shield" class="shield"></use>
                                            </svg>
                                            <p class="intro textaligncenter">
                                                Honest ticketing on a global scale
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="text_block">
                                            <svg class="shield">
                                                <use xlink:href="/images/sprite.svg#lock" class="shield"></use>
                                            </svg>

                                            <p class="intro textaligncenter">
                                                Locked and traceable on a publicly distributed ledger
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="text_block">
                                            <svg class="shield">
                                                <use xlink:href="/images/sprite.svg#tick" class="tick"></use>
                                            </svg>
                                            <p class="intro textaligncenter">
                                                Guarantee the authenticity of your ticket
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>

                                    </div>
                                </div>



                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Digital Identity</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>


                                        <div class="text_block">

                                            <p class="intro textaligncenter">
                                                There is no way of interacting with smart tickets outside of our
                                                blockchain ecosystem. Dictate all the rules of the ticketing
                                                marketplace.<br> Event organizers get a cut of every resale of a ticket
                                                on the
                                                in-app secondary marketplace.
                                            </p>
                                        </div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="text_block">



                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Games</h2>
                                                    <hr>
                                                </span>
                                            </h2>
                                        </div>

                                        <div class="row impact">
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <img class="why_icn img-responsive" src="">
                                                <div class="special-heading textaligncenter default">
                                                    <h5>subheading</h5>
                                                </div>
                                                <p>A paragraph of explanations</p>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <img class="why_icn img-responsive" src="">
                                                <div class="special-heading textaligncenter default">
                                                    <h5>Sub heading</h5>
                                                </div>
                                                <p>a paragraph of explanations</p>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <img class="why_icn img-responsive" src="">
                                                <div class="special-heading textaligncenter default">
                                                    <h5>Subheading</h5>
                                                </div>
                                                <p>explanations</p>
                                            </div>
                                            <div class="col-md-3 col-sm-6 col-xs-12">
                                                <img class="why_icn img-responsive" src="">
                                                <div class="special-heading textaligncenter default">
                                                    <h5>Another subheading</h5>
                                                </div>
                                                <p>Explanations</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="blank_divider" style="height: 20px;"></div>
                                        <div class="special-heading textaligncenter default blue_heading header_title"
                                            style="padding-bottom: 30px;">
                                            <h2 class="fancy default"><span>
                                                    <h2>Inter Organization Data Management</h2>
                                                </span>
                                            </h2>
                                        </div>
                                        <hr>
                                    </div>
                                </div>


                                <div class="row">

                                    <div class="col-md-6">

                                        <div class="special-heading textaligncenter default"
                                            style="padding-bottom: 0px;">
                                            <h5 class="fancy default"><span>Subsection</span></h5>
                                        </div>
                                        <img src="" class="cross-currency_img">
                                        <p>
                                            explanations.</p>



                                    </div>

                                    <div class="col-md-6">

                                        <div class="special-heading textaligncenter default"
                                            style="padding-bottom: 0px;">
                                            <h5 class="fancy default"><span>Another Subsection</span></h5>
                                        </div>
                                        <img src="" class="cross-currency_img">
                                        <p>
                                            even explanations</p>




                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="blank_divider" style="height: 20px;"></div>
                                            <div class="blank_divider" style="height: 20px;"></div>

                                            <div class="special-heading textaligncenter default blue_heading header_title"
                                                style="padding-bottom: 30px;">
                                                <h2 class="fancy default"><span>
                                                        <h2>Frictionless Payments</h2>
                                                        <hr>
                                                    </span>
                                                </h2>
                                            </div>

                                            <div class="text_block">
                                                <p class="intro textaligncenter">Explanations
                                                </p>
                                            </div>
                                            <div class="blank_divider" style="height: 20px;"></div>
                                            <div class="blank_divider" style="height: 20px;"></div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="blank_divider" style="height: 20px;"></div>
                                            <div class="blank_divider" style="height: 20px;"></div>

                                            <div class="special-heading textaligncenter default blue_heading header_title"
                                                style="padding-bottom: 30px;">
                                                <h2 class="fancy default"><span>
                                                        <h2>Smart Ticketing</h2>
                                                        <hr>
                                                    </span>
                                                </h2>
                                            </div>

                                            <div class="text_block">
                                                <p class="intro textaligncenter">Explanations
                                                </p>
                                            </div>
                                            <div class="blank_divider" style="height: 20px;"></div>
                                            <div class="blank_divider" style="height: 20px;"></div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="blank_divider" style="height: 20px;"></div>
                                                <div class="blank_divider" style="height: 20px;"></div>

                                                <div class="special-heading textaligncenter default blue_heading header_title"
                                                    style="padding-bottom: 30px;">
                                                    <h2 class="fancy default"><span>
                                                            <h2>Road Map</h2>
                                                            <hr>
                                                        </span>
                                                    </h2>
                                                </div>

                                                <div class="text_block">
                                                    <p class="intro textaligncenter">Explanations
                                                    </p>
                                                </div>
                                                <div class="blank_divider" style="height: 20px;"></div>
                                                <div class="blank_divider" style="height: 20px;"></div>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
                <section class="main-content bottom-callout no-padding shadow-off">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="row learn_more">
                                    <div class="col-md-12">

                                        <div class="special-heading textalignright default blue_heading header_title"
                                            style="padding-bottom: 0px; float: left;">
                                            <h2 class="fancy default"><span>

                                                    <h2>Learn More</h2>
                                                    <hr>
                                                </span>
                                            </h2>

                                            <a href="/learn/"><button type="button"
                                                    class="btn btn-primary call_to_action " style="float: left;">Learn
                                                    More
                                                </button></a>
                                        </div>
                                        <div class="special-heading textalignleft default blue_heading header_title"
                                            style="padding-bottom: 0px; float: right;">
                                            <h2 class="fancy default"><span>

                                                    <h2>Contact Us</h2>
                                                    <hr>
                                                </span>
                                            </h2>

                                            <a href="/contact"><button type="button"
                                                    class="btn btn-primary call_to_action" style="float: right;">Contact
                                                    Us
                                                </button></a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </main>
            <!-- /.main -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.wrap -->
    <footer class="content-info " role="contentinfo ">
        <div class="container ">
            <div class="row ">

                <section class="col-sm-3 widget nav_menu-3 widget_nav_menu ">
                    <h4>Resources
                        <hr>
                    </h4>
                    <ul id="menu-resources " class="menu ">
                        <li class="menu-xrp-overview "><a href="/learn/ ">Learn</a></li>
                        <li class="menu-how-to-buy-xrp "><a href="/insights/ ">Insight</a></li>
                        <li class="menu-insights "><a href="/media-center/ ">Media</a></li>
                    </ul>
                </section>
                <section class="col-sm-3 widget nav_menu-2 widget_nav_menu ">
                    <h4>About
                        <hr>
                    </h4>
                    <ul id="menu-company-footer " class="menu ">
                        <li class="menu-our-company "><a href="/roster/ ">Roster</a></li>
                        <li class="menu-careers "><a href="/company/ ">Company</a></li>
                        <li class="menu-ripplenet-committee "><a href="/join-the-team/ ">Join
                                The Team</a></li>
                        <li class="menu-sbi-ripple-asia "><a href="/advisors/ ">Advisors</a>
                        </li>

                    </ul>
                </section>
                <div class="col-sm-12 absolute_bottom_footer ">
                    <div class="col-sm-8 ">
                        <span>&copy; 2013 - 2019 sportsDapp, All Rights Reserved.</span>
                        <span><a href="/terms-of-use/ ">Terms</a></span>
                        <span><a href="/privacy-policy/ ">Privacy</a></span>
                        <span id="translation "></span>
                    </div>
                    <div class="col-sm-4 ">
                        <div class="pull_right ">
                            <li id="text-9 " class="widget widget_text ">
                                <div class="textwidget ">
                                    <ul class="social-iconer list-inline ">
                                        <li><a class="fber " target="blank "
                                                href="https://www.facebook.com/Sportsdapp "><i
                                                    class="fa fa-facebook fa-2x "></i></a></li>
                                        <li><a class="twer " target="blank " href="https://twitter.com/sportsdapp"><i
                                                    class="fa fa-twitter fa-2x "></i></a></li>
                                        <li><a class="linkedin " target="blank "
                                                href="https://www.linkedin.com/sportsdapp/ "><i
                                                    class="fa fa-linkedin fa-2x "></i></a></li>
                                    </ul>
                                </div>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!--replace with a cdn for faster page-load-->
<script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <script type='text/javascript' src='/js/script.min.js'></script>
    <script type='text/javascript' defer="defer " src='/js/vendor/countUp.js'></script>
    


</body>

</html>